---
layout: default
lang: en
---
<div class="front-header homepage-header">
    <div class="container">
        <div class="row align-items-center my-5 pb-4 pt-5">
            <div class="col-md-6 text-start">
                <h1>Managers, do you (really) know how your team is doing?</h1>
                <div>
                    <div class="subtitle pb-3">With TeamMood, easily check the well-being of your team with mood indicators, graphs, and calendars.</div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/images/main-{{page.lang}}.jpg" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>

<div class="container teammood-features">
    <div class="row gx-5 d-md-flex flex-md-row-reverse my-5 py-4 align-items-center">
        <div class="col-md-7">
            <h2>Easy as pie.</h2>
            <p>Team members will receive a daily email, asking for their mood of the day.</p>
            <p>One click and you're done! No need to login.</p>
            <p>It takes no more than 5 seconds per day.</p>
        </div>
        <div class="col-md-5 text-center">
            <img class="img-thumbnail" src="/images/mail-{{page.lang}}.png">
        </div>
    </div>

    <div class="row gx-5 align-items-center my-5 py-4">
        <div class="col-md-7">
            <h2>Anonymous.</h2>
            <p>We do not track individuals but follow the mood barometer at the team level. This allows people to be more sincere about their feelings.</p>
            <p>All <a href="https://www.teammood.com/en/features/">mood meter charts or calendars</a> are available to everyone on the team, not only to managers.</p>
        </div>
        <div class="col-md-5 text-center">
            <img class="img-thumbnail" src="/images/icons-{{page.lang}}.png">
        </div>
    </div>

    <div class="row gx-5 d-md-flex flex-md-row-reverse align-items-center my-5 pt-4 pb-5">
        <div class="col-md-7">
            <h2>Agile powered.</h2>
            <p>Based on <a href="https://blog.teammood.com/2018/07/24/evaluating-your-teams-health-with-the-niko-niko-calendar.html" target="_blank">niko-niko calendar</a> and <a href="https://blog.teammood.com/agile-retrospectives" target="_blank">Agile retrospective</a> practices.</p>
            <p>At the end of the day, team members tell if they have the feeling of having a good or a bad day. This mood indicator is a tool for the team for <a href="https://blog.teammood.com/2018/04/18/best-practices-to-run-effective-daily-standup-meetings.html">continuous improvement</a>.</p>
        </div>
        <div class="col-md-5 text-center">
            <img class="img-thumbnail" src="/images/nikoniko.png">
        </div>
    </div>
</div>


{% include testimonial.html text="TeamMood helps to check if everybody feels ok or not, and that's an important information hard to get usually." author="Luc D." img="luc_d.jpg" company="Lyra  Network" %}
<div class="container mb-5 pb-5  text-center">
    <a class="green-btn btn-lg py-3 px-4" href="https://app.teammood.com/signup">Get Started</a>
</div>


<div class="container py-5">
    <h2 class="text-black-50 text-center pb-2">From ten people startups, to large companies with several hundreds of people, you're in good company.</h2>
    <div class="container"> {% include logos_2x4.html %} </div>
</div>
<div class="container pb-5">
    <div class="container mb-5 pb-3 text-center">
        <a class="green-btn btn-lg py-3 px-4" href="/{{ page.lang }}/success">Read their stories</a>
    </div>
</div>
