<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TeamMood - Track The Well-Being of Your Team</title>
    
    <meta name="description" content="Managers, connaissez-vous (vraiment) l'humeur de votre équipe ? Avec TeamMood, suivez son bien-être, facilement !">

<meta name="keywords" content="niko-niko calendar, niko niko, nikoniko, niko-niko, mood, team, happiness, humeur, métrique, mood meter, mood tracker, mood marble, team well being, bien-être au travail">

<!-- Facebook meta for sharing -->
<meta property="og:url" content="https://www.teammood.com/?utm_medium=share&utm_campaign=facebook_share&utm_source=facebook"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="TeamMood - Track The Well-Being of Your Team" />
<meta property="og:description" content="Managers, savez vous (vraiment) comment va votre équipe ?" />
<meta property="og:image" content="https://www.teammood.com/images/lp/teammood_at_office.jpg" />
    
    <link rel="shortcut icon" href="/images/logo-128px.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">

<!--    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>-->

<!--    <link rel="stylesheet" href="/css/main.css ">-->
    <link rel="stylesheet" href="/css/style-mini.css">


    <link rel="canonical" href="https://www.teammood.com/fr/signup/">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N7JRV8W');</script>
    <!-- End Google Tag Manager -->

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>


  <body class="application-back registrations new" data-cms-content-wrapper="/_layouts/form.html">

    <script>
    !function(){
        var script = document.createElement('script');
        script.async = true;
        script.src = 'https://risk.clearbit.com/v1/risk.js';
        var parent = document.getElementsByTagName('script')[0];
        parent.parentNode.insertBefore(script, parent);
    }();
</script>
<div class="dashboard-body" ng-controller="AccountCtrl">
    <div class="container">
        <div class="login-container">
            <div class="logo orange center">
                <div class="fa fa-smile-o"></div>
                TeamMood
            </div>
            <br>
            <div class="board-box">
                <h2>Démarrez Votre Essai Gratuit</h2>
                <p>Essai gratuit pendant 30 jours.</p>
                <form name="account_form" class="simple_form new_user" accept-charset="UTF-8">
                    <div class="form-group">
                        <label for="email-field">
                            Adresse email
                        </label>
                        <input ng-model="email" autofocus="autofocus" class="form-control input-lg" placeholder="you@domain.com" required="required" type="email" value="" autocomplete="off">
                    </div>
                    <p class="light-grey">
                        En créant un compte, vous acceptez les
                        <a href="/terms-of-service">conditions générales</a> de TeamMood.
                    </p>
                    <br>
                    <button class="btn-lg light-orange-btn" ng-disabled="account_form.$invalid || button_disabled" type="submit" ng-click="create_account(email, 'fr')">Je veux un compte</button>
                </form>
            </div>
            <div id="flash" ng-show="show_error">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <span ng-bind-html="error_message"></span>
                </div>
            </div>
            <div class="grey">
                Vous avez déjà un compte ?
                <a href="https://app.teammood.com/app#/login">Connexion</a>
            </div>
        </div>
    </div>
</div>

<div class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-md-offset-2">
                <img class="img-circle img-responsive" src="/images/testimonials/michel_m.jpg">
            </div>
            <div class="col-md-7">
                <blockquote>
                    <p><sup><i class="fa fa-quote-left"></i></sup>Honnêtement je suis surpris par l'adhésion. Tout le monde a trouvé que c'était une bonne idée, mais surtout, contrairement à ce que j'avais imaginé, il n'y a pas de baisse significative de la participation dans le temps. C'est très positif.<sup><i class="fa fa-quote-right"></i></sup> </p>
                    <p><small>Michel M., <i>FreezySnail</i></small></p>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>

<script src="/js/app.js"></script>
<script src="/js/account.js"></script>


  </body>

</html>
