---
layout: default
lang: en
title: Straightforward method to improve wellness
description: TeamMood is the best tool to create the right habits to foster communication in the long term. Teammates just need a few seconds per day to use it and you get analytics with the right breakdowns to take quick actions.
---

<div class="container">
    <section class="front-header mt-5 mb-4 pb-4 pt-5">
        <h1>Straightforward method to improve wellness</h1>
        <p class="homepage-subtitle">TeamMood is the best tool to create the right habits to foster communication in the long term. Teammates just need a few seconds per day to use it and you get analytics with the right breakdowns to take quick actions.</p>
        <div class="col-md-8 mx-auto text-center">
            <img class="img-fluid border" src="/images/homepage/mood.png" alt="TeamMood - give your mood every day">
        </div>
    </section>

    <section class="my-4 py-4">
        <h2>The easiest and fastest tool you will find</h2>
        <p class="homepage-subtitle">Managing a team is time-consuming and you've got better things to do than configuring a tool for hours before it might start to be useful. When you sign up to TeamMood, you can actually start gathering your teammates' feelings in just a few minutes.</p>

        <div class="homepage-grid mt-2">
            <article>
                <img class="img-fluid icon-image mb-2" src="/images/icon/smile.svg" alt="">
                <h3>Effortless moods</h3>
                <p>Writing a comment every day can quickly become boring for your teammates. With moods, a single click allows you to get useful information on their wellness and keep boredom out for longer.</p>
            </article>
            <article>
                <img class="img-fluid icon-image mb-2" src="/images/icon/comment.svg" alt="">
                <h3>Optional written feedback</h3>
                <p>Your teammates still have the ability to write comments in addition to moods but it's optional. This way you increase usage from your teammates and you will get more useful comments and less noise.</p>
            </article>
            <article>
                <img class="img-fluid icon-image mb-2" src="/images/icon/history.svg" alt="">
                <h3>Mood history at a glance</h3>
                <p>You can see the history of moods and comments to quickly see how wellness evolves as time progresses.</p>
            </article>
        </div>
    </section>

    <section class="row d-md-flex my-4 py-4 align-items-center">
        <h2>Find insights in an instant</h2>

        <div  class="col-md-6">
            <figure class="text-center border p-2 m-3">
                <figcaption class="text-center fw-bold fs-6">Mood Distribution By Day</figcaption>
                <img class="img-fluid" src="/images/homepage/mood_distribution.png" alt="TeamMood - analytics">
            </figure>
        </div>

        <div class="col-md-6">
            <p>The problem with generic tools like whiteboards is the lack of analytics. TeamMood is opinionated to help you be more proactive in managing your team. Get the right analytics, zero configuration required.</p>
            <p>Quickly see important insights on a single dashboard including a wordcloud to quickly find the most used words, a chart to see if usage is satisfactory, one to see how is the average mood over time, and plenty more.</p>
        </div>
    </section>

    <section class="row d-md-flex my-4 py-4 align-items-center">
        <h2>All the integrations you need with just a few clicks</h2>
        <p class="homepage-subtitle">Nowadays, you use a lot of tools and adding a new one to the stack needs to be a careful choice. TeamMood seamlessly integrates with your existing tools to help you increase usage right where your teammates are.</p>

        <div class="row d-md-flex align-items-center flex-md-row-reverse">
            <div  class="col-md-6">
                <img class="img-fluid mx-auto d-block" src="/images/integrations/teammood-integrations.png" alt="">
            </div>
            <div class="col-md-6">
                <article>
                    <div class="d-flex mt-3 mb-1">
                        <img class="img-fluid icon-image my-0 me-2" src="/images/icon/notification.svg" alt="">
                        <h3>Notifications</h3>
                    </div>
                    <p>You can get mood notifications by email, but TeamMood also integrates with the most popular messaging apps: Microsoft Teams, Slack, and Cisco WebEx.</p>
                </article>
                <article>
                    <div class="d-flex mt-3 mb-1">
                        <img class="img-fluid icon-image my-0 me-2" src="/images/icon/sso.svg" alt="">
                        <h3>Single-sign on (SSO)</h3>
                    </div>
                    <p>We provide SSO integration using the SAML2 protocol, either through Azure AD, Okta or even your custom SAML2 portal. It is part of our Enterprise plan.</p>
                </article>
                <article>
                    <div class="d-flex mt-3 mb-1">
                        <img class="img-fluid icon-image my-0 me-2" src="/images/icon/api.svg" alt="">
                        <h3>API</h3>
                    </div>
                    <p>If you have more specialized needs, we have an API to integrate TeamMood in your own tools or to fetch data to create custom reports.</p>
                </article>
            </div>
        </div>
    </section>

    <section class="row d-md-flex my-4 py-4 align-items-center">
        <h2>Our customers tell it best</h2>

        <div class="homepage-grid mt-2">
            <article class="pb-2">
                {% include testimonial_2021.html
                text="Team members said that they like the brief moment of reflection triggered by the TeamMood daily email."
                author="Martin M." %}
            </article>
            <article class="pb-2">
                {% include testimonial_2021.html
                text="It helps to have a way getting things off your chest at the push of a button and it’s good to note there are many more good days than bad."
                author="Andy C." %}
            </article>
            <article class="pb-2">
                {% include testimonial_2021.html
                text="Easy to use, little effort for the team members to enter their sentiment for the day, and to add comments if required. Reporting tool is great."
                author="Rene M." %}
            </article>
        </div>

        <p class="text-center mt-2">
            <b>More reviews are available on <a href="https://www.capterra.com/p/164177/TeamMood/reviews/" target="_blank">Capterra.com</a>. <br>
            TeamMood has an average score of 4.8 out of 5.</b>
        </p>
    </section>
</div>

