<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TeamMood - For Agile Teams</title>


    <meta name="description" content="Managers, do you (really) know how your team is doing? With TeamMood, track the well-being of your team, easily.">


<!-- Facebook meta for sharing -->
<meta property="og:url" content="https://www.teammood.com/?utm_medium=share&utm_campaign=facebook_share&utm_source=facebook"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="TeamMood - For Agile Teams" />

    <meta property="og:description" content="Managers, do you (really) know how your team is doing?" />


<meta property="og:image" content="https://www.teammood.com/images/lp/teammood_at_office.jpg" />
    
    <link rel="shortcut icon" href="/images/logo-128px.png">

    <link rel="stylesheet" href="/css/purged/bootstrap.min.css?v1">
    <link rel="stylesheet" href="/css/purged/fontawesome.css?v1">
<!--
    <link rel="stylesheet" href="/css/purged/style-mini.css?v1">
-->

<!--    css link to work with in dev mode-->
   <link rel="stylesheet" href="/css/style.css">

    <link rel="canonical" href="https://www.teammood.com/en/agile-project-management/">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    
</head>


  <body>
    
      <script>
          fbq('track', 'ViewContent', {
              content_name: 'Landing-Page-Agile-Project-Management'
          });
      </script>
    


    
<nav class="navbar navbar-expand-lg fixed-top bg-white">
    <div class="container">
        <a class="navbar-brand p-3" href="/en">
            <img src="/images/logo.svg" width="80px" alt="TeamMood - Homepage">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="far fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item px-2">
                    <a class="nav-link" href="#benefits">Benefits</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item ps-2">
                    <a class="btn green-btn" href="https://app.teammood.com/signup">Start Your Free Trial</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container mt-5 pt-5">
      <div class="front-header p-5">
        <h1>Don't Miss The Mandatory Metric For Agile Managers.</h1>
        <div class="subtitle pt-3 px-md-5">With TeamMood and <a href="/en/agile-retrospective-tools-ideas/">Agile project management</a>, track how your teammates are feeling and behave, so you can get actionable data to discuss about during your Retrospectives.</div>
      </div>
    </div>

    <div class="container text-center pb-4">
      <a class="green-btn btn-lg py-3 px-4" href="https://app.teammood.com/signup">Start Your Free Trial</a>
    </div>

    <div class="lp-bg-image mt-5 mb-md-5">
      <img src="/images/lp/teammood_at_office.jpg" alt="teammood at office" loading="lazy">
    </div>

    <div class="container text-center lp-text pb-4">
            
    </div>

    
    <div class="container">
        <div class="row py-5 testimonial justify-content-center">
            <div class="col-md-1 col-3 pt-3">
                <img class="img-fluid rounded-circle float-md-end" src="/images/testimonials/paul_r.jpg">
            </div>
            <div class="col-md-7 ms-3 ">
                <blockquote class="align-middle">
                    <p class="mb-0">
                        <strong class="fw-bold">Paul R.</strong><br>
                        <small>Westpac, New Zealand</small>
                    </p>
                    <p>
                        <em>It’s not rocket science, happy people get better results.</em>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>


    <a id="benefits" class="pt-5"></a>
    
    <div class="container my-5">
        <h2 class="text-center" style="padding-bottom: 30px;">How TeamMood can help you</h2>
        <div class="row benefits">
            <div class="col-md-4">
                <p class="text-center"><i class="fa fa-comments fa-4x grey"></i></p>
                <h3>Open up conversations</h3>
                <p class="text-justify">Transparency is key. Everyone in the team can see the data, and discuss it. As a manager, you take part to these conversations to better understand what is going on.</p>
            </div>
            <div class="col-md-4">
                <p class="text-center"><i class="fa fa-bullhorn fa-4x grey"></i></p>
                <h3>Uncover hidden issues</h3>
                <p class="text-justify">Thanks to anonymity, get an honest feedback from your teammates. It can be easier for someone to say something through TeamMood instead of telling it in person.</p>
            </div>
            <div class="col-md-4">
                <p class="text-center"><i class="fa fa-bolt fa-4x grey"></i></p>
                <h3>Get a clear picture of which actions need to be taken</h3>
                <p class="text-justify">Thanks to your daily survey, quickly uncover issues and address them before the situation becomes out of control.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5 benefits-grey-block">
        <div class="container py-5">
            <h2 class="text-center">TeamMood at a glance</h2>

            <div class="row benefits-grid benefits-grid-1">
                <div class="col-md-4">
                    <div>
                        <p><i class="fas fa-mask fa-2x"></i></p>
                        <h4>Anonymous</h4>
                        <p class="text-justify">Do not track individuals, but follow the mood at team level. All metrics are available to everyone in the team, not only to managers.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p><i class="fas fa-thumbs-up fa-2x"></i></p>
                        <h4>Easy As Pie</h4>
                        <p class="text-justify">Team members will receive a daily email, asking for their <a href="/en/agile-retrospective-tools-ideas/">mood of the day</a>. One click and you're done! No need to login, no more than 5 seconds per day.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p><i class="fas fa-redo fa-2x"></i></p>
                        <h4>Agile DNA</h4>
                        <p class="text-justify">Based on the <a href="https://blog.teammood.com/2018/07/24/evaluating-your-teams-health-with-the-niko-niko-calendar.html">niko-niko practice</a>, each team member tells if she/he is having a good or a bad day. Those insights help your team for continuous improvement.</p>
                    </div>
                </div>
            </div>

            <div class="row benefits-grid benefits-grid-2">
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-network-wired fa-2x"></i></p>
                        <h4>Connected</h4>
                        <p class="text-justify">Our seamless integrations with the tools you already use make participating even simpler.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-shield-alt fa-2x"></i></p>
                        <h4>Secured</h4>
                        <p class="text-justify">Data are encrypted all the way. TeamMood is enterprise ready with SAML based SSO.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-users fa-2x"></i></p>
                        <h4>For Remote Teams</h4>
                        <p class="text-justify">Your teammates are spread all around the world? We manage timezones, so people get notified at the right time.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-chart-bar fa-2x"></i></p>
                        <h4>Analytics</h4>
                        <p class="text-justify">Quickly get a glimpse on what's going on. Wanna know if things are better or worse? Just <a href="https://blog.teammood.com/2019/03/29/why-doing-team-health-checks.html">check the mood's</a> average variation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container my-5">
      <div class="row">
        <div class="col-md-12">
          <h2 class="light-grey text-center">From ten people startups, to large companies with several hundreds of people, you're in good company.</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="container-fluid my-3">
    <div class="row justify-content-center">
        <div class="col-sm-2 px-3 py-1">
            <img alt="TUI Group" title="TUI Group" class="img-thumbnail mx-auto d-block m-2 py-2 px-1" src="//logo.clearbit.com/tui.com?greyscale=true" loading="lazy">
        </div>
        <div class="col-sm-2 px-3 py-1">
            <img alt="IPSEN" ttle="IPSEN" class="img-thumbnail mx-auto d-block m-2 px-1" src="//logo.clearbit.com/ipsen.com?greyscale=true" loading="lazy">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-2 px-3 py-1">
            <img alt="SNCF" title="SNCF" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/sncf.com?greyscale=true" loading="lazy">
        </div>
        <div class="col-sm-2 px-3 py-1">
            <img alt="Decathlon" title="Decathlon" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/decathlon.fr?greyscale=true" loading="lazy">
        </div>
        <div class="col-sm-2 px-3 py-1">
            <img alt="RS Components" title="RS Components" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/rs-components.com?greyscale=true" loading="lazy">
        </div>
    </div>
</div>

    </div>

    <a id="pricing" class="pt-5"></a>

    <div class="container my-5 text-center">
      <a class="green-btn btn-lg py-3 px-4" href="https://app.teammood.com/signup">Get Started In 3 Minutes</a>
    </div>

    <div class="version2021">
      <div class="front-header">
        <div class="container mt-4">
          <div class="col-md-12 text-center pt-md-5">
            <h2 class="lp-pricing-title pt-md-3">TeamMood is straightforward, both in experience and pricing.</h2>
          </div>
        </div>
      </div>

      <div ng-controller="PricingCtrl">
    <div class="homepage-currency">
        <div class="container mt-3">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-class="{active: currency.active}" ng-click="update(currency)" ng-repeat="currency in currencies">[[currency.label]]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pricing">
        <div class="container">
            <div class="row justify-content-center my-5 pb-5">
                <div class="col-md-5 gx-O p-0">
                    <div class="story standard-plan border mx-2">
                        <div class="essential my-4 mx-5 border-bottom text-center">
                            <h2>BUSINESS</h2>
                            <h3>[[price]] / user / month</h3>
                            <p>After a 30 days trial period.</p>
                        </div>
                        <div class="mt-3 px-5">
                            <p>Core features:</p>
                            <p class="pricing-feature">
                                <i class="fa fa-check"></i> Daily or Weekly Notifications <small><i class="fa fa-question-circle d-inline-block" tabindex="0"   data-bs-toggle="popover" title="Notifications Frequency" data-bs-content="Choose when notifications are sent: daily, several days a week or weekly."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-check"></i> Team Feedback <small><i class="fa fa-question-circle d-inline-block" tabindex="0" data-bs-toggle="popover" title="Your Team Voice" data-bs-content="Get feedback from your teammates, and take action from it."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-check"></i> Anonymous <small><i class="fa fa-question-circle d-inline-block" tabindex="0" data-bs-toggle="popover"  title="Strong Anonymity" data-bs-content="Avoid survey bias using anonymity." ></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-check"></i> Multiple Teams <small><i class="fa fa-question-circle d-inline-block" tabindex="0"   data-bs-toggle="popover" title="Designed For Large Organizations" data-bs-content="From a small team of 10, to thousands of people."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-check"></i> Analytics <small><i class="fa fa-question-circle d-inline-block" tabindex="0" data-bs-toggle="popover" title="Advanced Analytics" data-bs-content="Deep dive into your data and draw actionable intelligence."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-check"></i> Export Center And API <small><i class="fa fa-question-circle d-inline-block" tabindex="0"   data-bs-toggle="popover" title="You Own Your Data" data-bs-content="Explore your data with the tools you love."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-check"></i> Third Party Integrations <small><i class="fa fa-question-circle d-inline-block" tabindex="0"   data-bs-toggle="popover" title="Company Friendly" data-bs-content="Integrate with the tools you love, such as Slack or Tableau etc..."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-check"></i> Monthly or Yearly Billing <small><i class="fa fa-question-circle d-inline-block" tabindex="0"   data-bs-toggle="popover" title="Yearly Subscription Available" data-bs-content="We provide discounted yearly plans for larger teams."></i></small>
                            </p>
                        </div>
                        <div class="text-center my-5">
                            <p><a class="btn light-blue-btn btn-lg" href="https://app.teammood.com/signup">START FOR FREE</a></p>
                            <p class="mb-0"><small>No credit card required</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 gx-O p-0">
                    <div class="story enterprise-plan border mx-2">
                        <div class="my-4 mx-5 p-3 border-bottom text-center">
                            <h2>ENTERPRISE</h2>
                            <h3>Custom</h3>
                            <p>Seamless Integration With Your Whole Organisation.</p>
                        </div>
                        <div class="mt-3 px-5">
                            <p>Everything in the Business plan, plus:</p>
                            <p class="pricing-feature">
                                <i class="fa fa-plus"></i> Custom Branding <small><i class="fa fa-question-circle d-inline-block" tabindex="0"   data-bs-toggle="popover" title="Make It Yours" data-bs-content="Customize the mood email with your content and logo."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-plus"></i> Custom Reporting <small><i class="fa fa-question-circle d-inline-block" tabindex="0"   data-bs-toggle="popover" title="Advanced Reports" data-bs-content="Not satisfied with the provided reports? We'll build your own."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-plus"></i> Custom End User Policy <small><i class="fa fa-question-circle d-inline-block" tabindex="0"   data-bs-toggle="popover" title="Strong Policy" data-bs-content="Use your own policy or code of conduct."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-plus"></i> Customs ACLs <small><i class="fa fa-question-circle d-inline-block" tabindex="0" data-bs-toggle="popover" title="Fine Grained Access Control" data-bs-content="Set the right access-level to the right people."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-plus"></i> Single Sign On <small><i class="fa fa-question-circle d-inline-block" tabindex="0" data-bs-toggle="popover" title="Not Another Password" data-bs-content="SAML2 or Okta."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-plus"></i> Dedicated Hosting <small><i class="fa fa-question-circle d-inline-block" tabindex="0"   data-bs-toggle="popover" title="Strong Personal Data Policy" data-bs-content="Increase your security by getting your own TeamMood server instance, in the location of your choice."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-plus"></i> Premium Support <small><i class="fa fa-question-circle d-inline-block" tabindex="0"   data-bs-toggle="popover" title="Never Alone" data-bs-content="Blazing fast support."></i></small>
                            </p>
                            <p class="pricing-feature">
                                <i class="fa fa-plus"></i> Eased Procurement <small><i class="fa fa-question-circle d-inline-block" tabindex="0" data-bs-toggle="popover" title="Your Procurement Processes" data-bs-content="We adapt to your procurement process (legal compliance, technical and security review, purchase orders...)."></i></small>
                            </p>
                        </div>
                        <div class="text-center my-5">
                            <p><a class="btn green-btn btn-lg" href="/en/contact-sales/">CONTACT SALES</a></p>
                            <p class="mb-0"><small>We'll get back to you quickly</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" integrity="sha384-hXNI9Cb8OJC3+q10tEC7RUzaDEWKjIQiE1lg+tFIrttefIG+ScUCKqOlQVEqcmM0" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js" integrity="sha384-nMAFFyQjqx6ZuimWksucaM2kfcen++Z8J/Jzh6cnFu/jIcLoSBVJUs+3cNZeTtco" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js" integrity="sha384-0uMUBvWaOPLMNHdfcqk0gr0iJr9LMqMqv0UGBCSnESv3ukuz1O1XZbcl+3ztzOub" crossorigin="anonymous"></script>


<script src="/js/app.js"></script>
<script src="/js/pricing.js"></script>
    </div>

    <footer class="container-fluid py-5">
    <nav class="nav justify-content-center text-center mx-auto">
            <a class="nav-link p-0" href="/en/terms-of-service/"> Terms </a>

            <span class="mx-2">•</span>

            <a class="nav-link p-0" href="/en/privacy-policy/"> Privacy Policy </a>

            <span class="mx-2">•</span>

            <a class="nav-link p-0" href="https://help.teammood.com/pricing-security-privacy-and-terms/legals/how-teammood-complies-with-gdpr"> GDPR </a>
    </nav>
    <div class="row pt-4">
            <div class="text-center">
                Copyright © 2022
                <i class="fa fa-smile-o"></i> TeamMood <span class="mx-1">•</span>
                Made with <i class="fas fa-heart"></i> in Toulouse, France
            </div>

    </div>
</footer>



    

    <!-- Google Tag Manager -->
    <script defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N7JRV8W');</script>
        <!-- End Google Tag Manager -->


    

  </body>
</html>
