<form id="form-f0482217-0ec1-4c71-9caf-4f939884fbe5" 
      class="my-md-4 pb-4 pt-md-5"
      action="https://api.encharge.io/v1/forms/f0482217-0ec1-4c71-9caf-4f939884fbe5/submission/plain" method="POST">
    <div class="col-12 py-2">
            <label for="61f3d8b4-c297-4abb-9adc-52fa32dc969a" class="form-label sc-bxivhb kvWXOE">Full Name&nbsp;<span class="sc-EHOje lbBrtU">*</span>
            </label>
            <input type="text" id="61f3d8b4-c297-4abb-9adc-52fa32dc969a" required name="name" placeholder="Enter your full name" class="form-control"/>
    </div>
    <div class="sc-bZQynM jJMfVl py-2">
        <div name="email" class="encharge-form-group sc-ifAKCX jsBfTP form-group">
            <label for="64dac07e-fb84-4bd0-a77a-233056b33325" class="form-label sc-bxivhb kvWXOE">Email&nbsp;<span class="sc-EHOje lbBrtU">*</span>
            </label>
            <input type="email" id="64dac07e-fb84-4bd0-a77a-233056b33325" required name="email" placeholder="Enter your email" class="encharge-form-input sc-htoDjs jmyTNa form-control"/>
        </div>
    </div>
    <div class="sc-bZQynM jJMfVl py-2">
        <div name="country" class="encharge-form-group sc-ifAKCX jsBfTP form-group">
            <label for="a2e876a5-2f06-40be-b973-e13d051ecf8c" class="form-label sc-bxivhb kvWXOE">Country</label>
            <input type="text" id="a2e876a5-2f06-40be-b973-e13d051ecf8c" name="country" placeholder="Enter your country (optional)" class="encharge-form-input sc-htoDjs jmyTNa form-control"/>
        </div>
    </div>
    <div class="sc-bZQynM jJMfVl py-2">
        <div name="question" class="encharge-form-group sc-ifAKCX jsBfTP form-group">
            <label for="bdbcf69a-1947-432e-973b-ea758dfbeeac" class="form-label sc-bxivhb kvWXOE">Your message&nbsp;<span class="sc-EHOje lbBrtU">*</span>
            </label>
            <textarea id="bdbcf69a-1947-432e-973b-ea758dfbeeac" rows="6" required name="question" placeholder="Ask your question" class="encharge-form-input sc-htoDjs jmyTNa form-control"></textarea>
        </div>
    </div>
    <div class="sc-bZQynM jJMfVl py-2">
        <div name="nativeFormMarketingConsent" class="encharge-form-group sc-ifAKCX kBlsGy form-group ps-1">
            <input type="checkbox" id="07e5fd03-2847-47b9-b2f5-b98d58f03d76" name="nativeFormMarketingConsent" required class="encharge-form-checkbox sc-htpNat LYKjg form-check-input"/>
            <label for="07e5fd03-2847-47b9-b2f5-b98d58f03d76" class="form-label sc-bxivhb eiEjcl">I agree to receive emails from you.&nbsp;<span class="sc-EHOje lbBrtU">*</span>
            </label>
        </div>
    </div>
    <div class="pt-2">
        <button type="submit" class="btn green-btn contact-submit-btn">Submit</button>
    </div>
</form>