<form id="form-8dca8759-5b42-4bd0-81cf-122be21ed795" 
      class="my-md-4 pb-4 pt-md-5"
      action="https://api.encharge.io/v1/forms/8dca8759-5b42-4bd0-81cf-122be21ed795/submission/plain" 
      method="POST">
	<div class="sc-jzJRlG hjFAqE py-2">
		<div name="name" class="encharge-form-group sc-jTzLTM frRvjZ form-group">
			<label for="87763615-b212-46d1-980a-95e532966886" class="encharge-form-label sc-VigVT eRaSpr">
				Nom&nbsp;<span class="sc-fjdhpX hIkOpy">*</span>
			</label>
			<input type="text" id="87763615-b212-46d1-980a-95e532966886" required name="name" placeholder="Prénom et nom" class="encharge-form-input sc-kAzzGY cfqAPA form-control"/>
		</div>
	</div>
	<div class="sc-jzJRlG hjFAqE py-2">
		<div name="email" class="encharge-form-group sc-jTzLTM frRvjZ form-group">
			<label for="2e46f909-919c-498e-86b2-d2d2ff2138ac" class="encharge-form-label sc-VigVT eRaSpr">
				Email&nbsp;<span class="sc-fjdhpX hIkOpy">*</span>
			</label>
			<input type="email" id="2e46f909-919c-498e-86b2-d2d2ff2138ac" required name="email" placeholder="Saisissez votre email" class="encharge-form-input sc-kAzzGY cfqAPA form-control"/>
		</div>
	</div>
	<div class="sc-jzJRlG hjFAqE py-2">
		<div name="country" class="encharge-form-group sc-jTzLTM frRvjZ form-group">
			<label for="35d5bd21-d99c-4aa0-952b-e693041fb96a" class="encharge-form-label sc-VigVT eRaSpr">
				Pays
			</label>
			<input type="text" id="35d5bd21-d99c-4aa0-952b-e693041fb96a" name="country" placeholder="Saisissez votre pays (optionnel)" class="encharge-form-input sc-kAzzGY cfqAPA form-control"/>
		</div>
	</div>
	<div class="sc-jzJRlG hjFAqE py-2">
		<div name="question" class="encharge-form-group sc-jTzLTM frRvjZ form-group">
			<label for="1b6a1ea4-362f-4126-84cb-23f0d0c3378a" class="encharge-form-label sc-VigVT eRaSpr">
				Votre Message&nbsp;<span class="sc-fjdhpX hIkOpy">*</span>
			</label>
			<textarea id="1b6a1ea4-362f-4126-84cb-23f0d0c3378a" rows="6" required name="question" placeholder="Posez votre question" class="encharge-form-input sc-kAzzGY cfqAPA form-control"></textarea>
		</div>
	</div>
	<div class="sc-jzJRlG hjFAqE py-2">
		<div name="nativeFormMarketingConsent" class="encharge-form-group sc-jTzLTM bPowmp form-group ps-1">
			<input type="checkbox" id="85fdd864-07af-465f-ba97-94b45c89a140" name="nativeFormMarketingConsent" required class="encharge-form-checkbox sc-gqjmRU gCOwty form-check-input"/>
			<label for="85fdd864-07af-465f-ba97-94b45c89a140" class="encharge-form-label sc-VigVT bSCkYy d-inline">
				J&#x27;accepte de recevoir des courriels de votre part.&nbsp;<span class="sc-fjdhpX hIkOpy">*</span>
			</label>
		</div>
	</div>
	<div class="sc-cSHVUG ebRkVm">
		<button type="submit" class="encharge-form-submit-button sc-gZMcBi guPYmq btn green-btn contact-submit-btn">Envoyer</button>
	</div>
</form>