<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4 center">
                    <h3>
                        TeamMood
                    </h3>
                    <p>
                        <a href="/en/terms-of-service/">Terms</a>
                    </p>
                    <p>
                        <a href="/en/privacy-policy/">Privacy Policy</a>
                    </p>
                    <p>
                        <a href="https://help.teammood.com/pricing-security-privacy-and-terms/legals/how-teammood-complies-with-gdpr">GDPR</a>
                    </p>
                    <p>
                        <a href="http://status.teammood.com" target="_blank"><i class="fa fa-signal"></i> System status</a>
                    </p>
                </div>
                <div class="col-md-4 center">
                    <h3>Product</h3>
                    <p>
                        <a href="/{{ page.lang }}/features">Features</a>
                    </p>
                    <p>
                        <a href="/{{ page.lang }}/success">Customers</a>
                    </p>
                    <p>
                        <a href="/{{ page.lang }}/pricing">Pricing</a>
                    </p>
                    <p>
                        <a href="https://teammood.docs.apiary.io/">API</a>
                    </p>
                </div>
                <div class="col-md-4 center">
                    <h3>Company</h3>

<!--                    TODO page about-->
                    <!--<p>
                        <a href="/{{ page.lang }}/about">About</a>
                    </p>-->


                    <p>
                        <a href="mailto:hello@teammood.com">Contact us</a>
                    </p>
                    <p>
                        <a href="https://blog.teammood.com">Blog</a>
                    </p>
                    <p>
                        <a href="https://twitter.com/teammood" target="_blank">
                        </a>
                    </p>
                    <p>
                        <a href="https://twitter.com/teammood" target="_blank">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/TeamMood" target="_blank">
                            <i class="fab fa-facebook"></i> Facebook
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row footer_copyright">
        <div class="col center">
            <div class="phones-footer">
                Copyright © {{ site.time | date: '%Y' }}
                <i class="fa fa-smile-o"></i> TeamMood <span class="separator">•</span>
                Made with <i class="fas fa-heart"></i> in Toulouse, France
            </div>
        </div>
    </div>
</footer>