<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-logo">
                    <i class="fa fa-smile-o"></i>TeamMood
                </div>
                <div class="legal-mentions">
                    <p>
                        Copyright {{ site.time | date: '%Y' }}
                    </p>
                    <p>
                        <span>
                            <a href="/terms-of-service">CGV</a>
                        </span>
                        <span class="separator">•</span>
                        <span>
                            <a href="/privacy-policy">Vie Privée</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Produit</h3>
                        <p>
                            <a href="/{{ page.lang }}/features">Fonctionnalités</a>
                        </p>
                        <!--p>
                            <a href="/{{ page.lang }}/demo">Démo</a>
                        </p-->
                        <p>
                            <a href="/{{ page.lang }}/pricing">Tarifs</a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>À propos</h3>
                        <p>
                            <a href="mailto:hello@teammood.com">Nous contacter</a>
                        </p>
                        <p>
                            <a href="https://blog.teammood.com">Blog</a>
                        </p>
                        <p>
                            <a href="https://twitter.com/teammood" target="_blank">
                            </a>
                        </p>
                        <div class="fa fa-twitter"></div><a href="https://twitter.com/teammood" target="_blank">
        Twitter
        </a>
                        <p></p>
                        <p>
                            <a href="https://www.facebook.com/TeamMood" target="_blank">
                            </a>
                        </p>
                        <div class="fa fa-facebook"></div><a href="https://www.facebook.com/TeamMood" target="_blank">
        Facebook
        </a>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="phones-footer">
                    <strong>Concocté avec <i class="fa fa-heart"></i> à Toulouse, France</strong>
                </div>
            </div>
        </div>
    </div>
</footer>