<footer>
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="footer-logo">
<div class="fa fa-dot-circle-o"></div>
TeamMood
</div>
<div class="legal-mentions">
<p>
Copyright 2015
</p>
<p>
<span>
<a href="/terms-of-service">Terms</a>
</span>
<span class="separator">•</span>
<span>
<a href="/spam-policy">Spam Policy</a>
</span>
</p>
<p>
Email Hunter is a service of
<a href="https://firmapi.com" target="_blank">Firmapi</a>
SARL.
</p>
</div>
</div>
<div class="col-md-1"></div>
<div class="col-md-4">
<div class="row">
<div class="col-md-6">
<h3>Product</h3>
<p>
<a href="/api">API</a>
</p>
<p>
<a href="/api/docs">Docs</a>
</p>
<p>
<a href="/chrome">Chrome extension</a>
</p>
<p>
<a href="/pricing">Pricing</a>
</p>
</div>
<div class="col-md-6">
<h3>Company</h3>
<p>
<a href="mailto:contact@emailhunter.co">Contact us</a>
</p>
<p>
<a href="/about">About</a>
</p>
<p>
<a href="https://blog.emailhunter.co">Blog</a>
</p>
<p>
<a href="https://twitter.com/EmailHunter" target="_blank">
</a></p><div class="fa fa-twitter"></div><a href="https://twitter.com/EmailHunter" target="_blank">
Twitter
</a>
<p></p>
<p>
<a href="https://www.facebook.com/EmailHunter.co" target="_blank">
</a></p><div class="fa fa-facebook"></div><a href="https://www.facebook.com/EmailHunter.co" target="_blank">
Facebook
</a>
<p></p>
</div>
</div>
</div>
<div class="col-md-2">
<div class="phones-footer">
<strong>Paris</strong>
<br>
<a href="tel:+331764403739">+33 1 76 44 03 73</a>
<br>
<br>
<strong>San Francisco</strong>
<br>
<a href="tel:+1415-712-0049">+1 415-712-0049</a>
</div>
</div>
</div>
</div>
</footer>
