<footer class="container-fluid bg-secondary py-5">
    <nav class="nav row justify-content-center text-center">
        <div class="flex-column col-md-3">
            <h3>TeamMood</h3>
            <a class="nav-link" href="/en/terms-of-service/">Terms</a>
            <a class="nav-link" href="/en/privacy-policy/">Privacy Policy</a>
            <a class="nav-link" href="https://help.teammood.com/pricing-security-privacy-and-terms/legals/how-teammood-complies-with-gdpr">GDPR</a>
            <a class="nav-link" href="http://status.teammood.com" target="_blank"><i class="fa fa-signal"></i> System status</a>
        </div>
        <div class="flex-column col-md-3 mt-5 mt-md-0">
            <h3>Product</h3>
            <a class="nav-link" href="/{{ page.lang }}/features">Features</a>
            <a class="nav-link" href="/{{ page.lang }}/success">Customers</a>
            <a class="nav-link" href="/{{ page.lang }}/pricing">Pricing</a>
            <a class="nav-link" href="http://apidocs.teammood.com/">API</a>
        </div>
        <div class="flex-column col-md-3 mt-5 mt-md-0">
            <h3>Company</h3>
            <a class="nav-link" href="/{{ page.lang }}/about">About</a>
            <a class="nav-link" href="mailto:hello@teammood.com">Contact us</a>
            <a class="nav-link" href="https://blog.teammood.com">Blog</a>
            <a class="nav-link" href="https://twitter.com/teammood" target="_blank">
                <i class="fab fa-twitter"></i> Twitter
            </a>
            <a class="nav-link" href="https://www.linkedin.com/company/teammood/" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
        </div>
    </nav>

    <div class="row footer_copyright mt-4 pt-4">
        <div class="col">
            <div class="text-center">
                Copyright © {{ site.time | date: '%Y' }}
                <i class="fa fa-smile-o"></i> TeamMood <span class="mx-1">•</span>
                Made with <i class="fas fa-heart"></i> in Toulouse, France
            </div>
        </div>
    </div>
</footer>