<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4 center">
                    <h3>
                        TeamMood
                    </h3>
                    <p>
                        <a href="/fr/conditions-generales-dutilisation/">CGV</a>
                    </p>
                    <p>
                        <a href="/en/privacy-policy/">Vie Privée</a>
                    </p>
                    <p>
                        <a href="https://help.teammood.com/pricing-security-privacy-and-terms/legals/how-teammood-complies-with-gdpr">RGPD</a>
                    </p>
                    <p>
                        <a href="http://status.teammood.com" target="_blank"><i class="fa fa-signal"></i>Etat du système</a>
                    </p>
                </div>
                <div class="col-md-4 center">
                    <h3>Produit</h3>
                    <p>
                        <a href="/{{ page.lang }}/fonctionnalites">Fonctionnalités</a>
                    </p>
                    <p>
                        <a href="/{{ page.lang }}/clients">Clients</a>
                    </p>
                    <p>
                        <a href="/{{ page.lang }}/tarifs">Tarifs</a>
                    </p>
                    <p>
                        <a href="https://teammood.docs.apiary.io/">API</a>
                    </p>
                </div>
                <div class="col-md-4 center">
                    <h3>À propos</h3>
                    <p>
                        <a href="mailto:hello@teammood.com">Nous contacter</a>
                    </p>
                    <p>
                        <a href="https://blog.teammood.com">Blog</a>
                    </p>
                    <p>
                        <a href="https://twitter.com/teammood" target="_blank">
                        </a>
                    </p>
                    <p>
                        <a href="https://twitter.com/teammood" target="_blank">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/TeamMood" target="_blank">
                            <i class="fab fa-facebook"></i> Facebook
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row footer_copyright">
        <div class="col center">
            <div class="phones-footer">
                Copyright © {{ site.time | date: '%Y' }}
                <i class="fa fa-smile-o"></i> TeamMood <span class="separator">•</span>
                Concocté avec <i class="fas fa-heart"></i> à Toulouse, France
            </div>
        </div>
    </div>
</footer>
