<div class="container">
    <nav class="navbar" id="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand orange logo-md" href="/{{ page.lang }}"><img src="/images/logo-140px.png" width="80px"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="grey navbar-right">
                    <li class="nav-cta-link">
                        <a class="light-orange-btn" href="/{{ page.lang }}/signup">Get started</a>
                    </li>
                    <li class="nav-right-link">
                        <a href="https://app.teammood.com/app#/login">Login</a>
                    </li>
                    <li class="nav-link">
                        <a href="/{{ page.lang }}/success">Customers</a>
                    </li>
                    <li class="nav-link">
                        <a href="/{{ page.lang }}/pricing">Pricing</a>
                    </li>
                    <li class="nav-link">
                        <a href="/{{ page.lang }}/features">Features</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
