<div class="container">
    <nav class="navbar" id="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a class="orange logo-md" href="/{{ page.lang }}">
                        <i class="fa fa-smile-o"></i>TeamMood
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <div class="pull-right">
                    <ul class="grey">
                        <li class="nav-cta-link">
                            <a class="light-orange-btn" href="/{{ page.lang }}/signup">Créer un compte</a>
                        </li>
                        <li class="nav-right-link">
                            <a href="https://app.teammood.com/app#/login">Se connecter</a>
                        </li>
                        <!--li class="nav-link">
                            <a href="/{{ page.lang }}/pricing">Tarifs</a>
                        </li>
                        <li class="nav-link">
                            <a href="/{{ page.lang }}/demo">Démo</a>
                        </li>
                        <li class="nav-link">
                            <a href="/{{ page.lang }}/features">Fonctionnalités</a>
                        </li-->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
