<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include meta_{{page.lang}}.html %}
    
    <link rel="shortcut icon" href="/images/logo-128px.png">

 <!--     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">-->

 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">

<!--    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>-->



<!--    <link rel="stylesheet" href="{{ "/css/main.css " | prepend: site.baseurl }}">-->
    <link rel="stylesheet" href="{{ '/css/purged/bootstrap.min.css' | prepend: site.baseurl }}">
 <!--    <link rel="stylesheet" href="{{ '/css/purged/fontawesome.css' | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{ '/css/purged/style-mini.css' | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <!-- Bootstrap JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    


</head>
