<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand p-3" href="/{{ page.lang }}">
                <img src="/images/logo-140px.png" width="80px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="far fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse " id="navbar-collapse-1">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/{{ page.lang }}/features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/{{ page.lang }}/pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/{{ page.lang }}/success">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://app.teammood.com/app#/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn green-btn" href="https://app.teammood.com/signup">Get started</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
