<div class="row">
    <div class="col-xs-6 col-md-2 col-md-offset-3">
        <img alt="Decathlon" title="Decathlon" class="img-responsive thumbnail" src="//logo.clearbit.com/decathlon.fr?greyscale=true">
    </div>
    <div class="col-xs-6 col-md-2">
        <img alt="SNCF" title="SNCF" class="img-responsive thumbnail" src="//logo.clearbit.com/sncf.com?greyscale=true">
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <img alt="TUI Group" title="TUI Group" class="img-responsive thumbnail" src="//logo.clearbit.com/tui.com?greyscale=true">
    </div>
    <div class="col-xs-6 col-md-2">
        <img alt="IPSEN" title="IPSEN" class="img-responsive thumbnail" src="//logo.clearbit.com/ipsen.com?greyscale=true">
    </div>
    <div class="col-xs-6 col-md-2">
        <img alt="RS Components" title="RS Components" class="img-responsive thumbnail" src="//logo.clearbit.com/rs-components.com?greyscale=true">
    </div>
</div>