<div class="row">
    <div class="col-sm-2 col-sm-offset-4">
        <img alt="Decathlon" title="Decathlon" class="img-responsive thumbnail logos" src="//logo.clearbit.com/decathlon.fr?greyscale=true">
    </div>
    <div class="col-sm-2">
        <img alt="SNCF" title="SNCF" class="img-responsive thumbnail logos" src="//logo.clearbit.com/sncf.com?greyscale=true">
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-sm-offset-3">
        <img alt="TUI Group" title="TUI Group" class="img-responsive thumbnail logos" src="//logo.clearbit.com/tui.com?greyscale=true">
    </div>
    <div class="col-sm-2">
        <img alt="IPSEN" ttle="IPSEN" class="img-responsive thumbnail logos" src="//logo.clearbit.com/ipsen.com?greyscale=true">
    </div>
    <div class="col-sm-2">
        <img alt="RS Components" title="RS Components" class="img-responsive thumbnail logos" src="//logo.clearbit.com/rs-components.com?greyscale=true">
    </div>
</div>