<div class="container-fluid my-3">
    <div class="row justify-content-center">
        <div class="col-sm-2 px-3 py-1">
            <img alt="TUI Group" title="TUI Group" class="img-thumbnail mx-auto d-block m-2 py-2 px-1" src="//logo.clearbit.com/tui.com?greyscale=true" loading="lazy">
        </div>
        <div class="col-sm-2 px-3 py-1">
            <img alt="IPSEN" ttle="IPSEN" class="img-thumbnail mx-auto d-block m-2 px-1" src="//logo.clearbit.com/ipsen.com?greyscale=true" loading="lazy">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-2 px-3 py-1">
            <img alt="SNCF" title="SNCF" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/sncf.com?greyscale=true" loading="lazy">
        </div>
        <div class="col-sm-2 px-3 py-1">
            <img alt="Decathlon" title="Decathlon" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/decathlon.fr?greyscale=true" loading="lazy">
        </div>
        <div class="col-sm-2 px-3 py-1">
            <img alt="Amnesty International" title="Amnesty International" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/amnesty.org?size=110&greyscale=true" loading="lazy">
        </div>
    </div>
</div>
