<div class="container-fluid my-3 logo">
    <div class="d-sm-flex justify-content-center">
        <div class="px-3 py-1 logo-box">
            <img alt="Docker" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/docker.com?size=110&greyscale=true" loading="lazy">
        </div>
        <div class="px-3 py-1 logo-box">
            <img alt="TUI Group" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/tuigroup.com?size=110&greyscale=true" loading="lazy">
        </div>
        <div class="px-3 py-1 logo-box">
            <img alt="IPSEN" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/ipsen.com?size=110&greyscale=true" loading="lazy">
        </div>
        <div class="px-3 py-1 logo-box">
            <img alt="Decathlon" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/decathlon.com?size=110&greyscale=true" loading="lazy">
        </div>
        <div class="px-3 py-1 logo-box">
            <img alt="Amnesty International" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/amnesty.org?size=110&greyscale=true" loading="lazy">
        </div>
    </div>
</div>
