<div class="container-fluid my-3 logo">
    <div class="d-sm-flex justify-content-center">
        <div class="px-3 py-1 logo-box">
            <img alt="Docker" class="img-thumbnail mx-auto d-block m-2" src="/images/logos/docker.com.png" loading="lazy">
        </div>
        <div class="px-3 py-1 logo-box">
            <img alt="TUI Group" class="img-thumbnail mx-auto d-block m-2" src="/images/logos/tuigroup.com.png" loading="lazy">
        </div>
        <div class="px-3 py-1 logo-box">
            <img alt="IPSEN" class="img-thumbnail mx-auto d-block m-2" src="/images/logos/ipsen.com.png" loading="lazy">
        </div>
        <div class="px-3 py-1 logo-box">
            <img alt="Decathlon" class="img-thumbnail mx-auto d-block m-2" src="/images/logos/decathlon.com.png" loading="lazy">
        </div>
        <div class="px-3 py-1 logo-box">
            <img alt="Amnesty International" class="img-thumbnail mx-auto d-block m-2" src="/images/logos/amnesty.org.png" loading="lazy">
        </div>
    </div>
</div>
