<div class="container-fluid my-3 logo">
    <div class="row justify-content-center">
        <div class="col-sm-2 px-3 py-1 logo-box squared-logo">
            <img alt="SNCF" title="SNCF" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/sncf.com?greyscale=true" loading="lazy">
        </div>
        <div class="col-sm-2 px-3 py-1 logo-box">
            <img alt="TUI Group" title="TUI Group" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/tui.com?greyscale=true" loading="lazy">
        </div>
        <div class="col-sm-2 px-3 py-1 logo-box">
            <img alt="IPSEN" ttle="IPSEN" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/ipsen.com?greyscale=true" loading="lazy">
        </div>
        <div class="col-sm-2 px-3 py-1 logo-box squared-logo">
            <img alt="Decathlon" title="Decathlon" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/decathlon.com?greyscale=true" loading="lazy">
        </div>
        <div class="col-sm-2 px-3 py-1 logo-box squared-logo">
            <img alt="RS Components" title="RS Components" class="img-thumbnail mx-auto d-block m-2" src="//logo.clearbit.com/rs-components.com?greyscale=true" loading="lazy">
        </div>
    </div>
</div>
