<div class="homepage-api">
    <div class="container">
        <h2 class="text-center" style="padding-bottom: 30px;">How TeamMood improves the workplace</h2>
        <div class="row benefits">
            <div class="col-sm-4 col-md-4">
                <p class="text-center"><i class="fa fa-comments fa-4x grey"></i></p>
                <h3>Open up conversations</h3>
                <p class="text-justify">Transparency is key. Everyone in the team sees the data, and talks about it. As a manager, you take part to those conversations to better understand what is going on.</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p class="text-center"><i class="fa fa-bullhorn fa-4x grey"></i></p>
                <h3>Uncover hidden issues</h3>
                <p class="text-justify">Thanks to anonymity, get an honest feedback from your teammates. It's easier for someone to say something through TeamMood instead of going to tell in person.</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p class="text-center"><i class="fa fa-bolt fa-4x grey"></i></p>
                <h3>Get a clear picture of which actions need to be taken</h3>
                <p class="text-justify">Thanks to your daily survey, discover an issue quickly, and address it without waiting, before the issue gets out of control.</p>
            </div>
        </div>
    </div>
</div>

<div class="visitors homepage">
    <div class="homepage-press" style="padding: 50px 0 100px 0;">
        <div class="container">
            <h2 class="text-center">TeamMood at a glance</h2>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <img class="img-responsive" src="/images/nikoniko.png" style="margin:auto; height: 160px; padding:10px">
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>Easy As Pie</h4>
                    <p class="text-justify">Team members will receive a daily email, asking for their mood of the day. One click and you're done! No need to login, no more than 5 seconds per day.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <img class="img-responsive" src="/images/analytics.png" style="margin:auto; height: 160px; padding:10px">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <h4>Anonymous</h4>
                    <p class="text-justify">Do not track individuals, but follow the mood at the team level. All metrics are available to everyone in the team, not only to managers.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>Analytics</h4>
                    <p class="text-justify">Quickly get a glimpse on what's going on. Wanna know if things are better or worse? Just check the mood's average variation.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>Connected</h4>
                    <p class="text-justify">Our seamless integrations with the tools you already use make participating even simpler.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <h4>Agile DNA</h4>
                    <p class="text-justify">Based on the niko-niko practice, each team member tells if she/he is having a good or a bad day. Those insights help your team for continuous improvement.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>For Remote Teams</h4>
                    <p class="text-justify">Teammates spread all around the world? We manage timezones, so people get notified at the right time.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>Secured</h4>
                    <p class="text-justify">Data are encrypted everywhere. TeamMood is enterprise ready with SAML based SSO.</p>
                </div>
            </div>
        </div>
    </div>
</div>