<div class="homepage-api">
    <div class="container" style="padding: 30px 0 100px 0;">
        <h2 class="text-center" style="padding-bottom: 30px;">How TeamMood can help you</h2>
        <div class="row benefits">
            <div class="col-sm-4 col-md-4">
                <p class="text-center"><i class="fa fa-comments fa-4x grey"></i></p>
                <h3>Open up conversations</h3>
                <p class="text-justify">Transparency is key. Everyone in the team can see the data, and discuss it. As a manager, you take part to these conversations to better understand what is going on.</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p class="text-center"><i class="fa fa-bullhorn fa-4x grey"></i></p>
                <h3>Uncover hidden issues</h3>
                <p class="text-justify">Thanks to anonymity, get an honest feedback from your teammates. It can be easier for someone to say something through TeamMood instead of telling it in person.</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p class="text-center"><i class="fa fa-bolt fa-4x grey"></i></p>
                <h3>Get a clear picture of which actions need to be taken</h3>
                <p class="text-justify">Thanks to your daily survey, quickly uncover issues and address them before the situation becomes out of control.</p>
            </div>
        </div>
    </div>
</div>

<div class="visitors homepage">
    <div class="homepage-press" style="padding: 50px 0 100px 0;">
        <div class="container">

            <h2 class="text-center">TeamMood at a glance</h2>

     <!--       <div class="row">
                <div class="col-sm-4 col-md-4">
                    <img class="img-responsive" src="/images/nikoniko.png" style="margin:auto; height: 160px; padding:10px">
                </div>
                <div class="col-sm-4 col-md-4">
                    <img class="img-responsive" src="/images/analytics.png" style="margin:auto; height: 160px; padding:10px">
                </div>
            </div>
-->
            <div class="row benefits-grid benefits-grid-1">
                <div class="col-md-4">
                    <div>
                        <p><i class="fas fa-mask fa-2x"></i></p>
                        <h4>Anonymous</h4>
                        <p class="text-justify">Do not track individuals, but follow the mood at team level. All metrics are available to everyone in the team, not only to managers.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p><i class="fas fa-thumbs-up fa-2x"></i></p>
                        <h4>Easy As Pie</h4>
                        <p class="text-justify">Team members will receive a daily email, asking for their <a href="/en/agile-retrospective-tools-ideas/">mood of the day</a>. One click and you're done! No need to login, no more than 5 seconds per day.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p><i class="fas fa-redo fa-2x"></i></p>
                        <h4>Agile DNA</h4>
                        <p class="text-justify">Based on the <a href="https://blog.teammood.com/2018/07/24/evaluating-your-teams-health-with-the-niko-niko-calendar.html">niko-niko practice</a>, each team member tells if she/he is having a good or a bad day. Those insights help your team for continuous improvement.</p>
                    </div>
                </div>
            </div>

            <div class="row benefits-grid benefits-grid-2">
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-network-wired fa-2x"></i></p>
                        <h4>Connected</h4>
                        <p class="text-justify">Our seamless integrations with the tools you already use make participating even simpler.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-shield-alt fa-2x"></i></p>
                        <h4>Secured</h4>
                        <p class="text-justify">Data are encrypted all the way. TeamMood is enterprise ready with SAML based SSO.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-users fa-2x"></i></p>
                        <h4>For Remote Teams</h4>
                        <p class="text-justify">Your teammates are spread all around the world? We manage timezones, so people get notified at the right time.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-chart-bar fa-2x"></i></p>
                        <h4>Analytics</h4>
                        <p class="text-justify">Quickly get a glimpse on what's going on. Wanna know if things are better or worse? Just <a href="https://blog.teammood.com/2019/03/29/why-doing-team-health-checks.html">check the mood's</a> average variation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>