<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="legal-mentions">
                    <span>
                        Copyright {{ site.time | date: '%Y' }}
                    </span>
                    <span class="separator">•</span>
                    <span>
                        <a href="/en/terms-of-service">Terms</a>
                    </span>
                    <span class="separator">•</span>
                    <span>
                        <a href="/en/privacy-policy">Privacy Policy</a>
                    </span>
                    <span class="separator">•</span>
                    <span>
                        <a href="https://help.teammood.com/en/articles/2010813-how-teammood-complies-with-gdpr">GDPR</a>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
                <div class="phones-footer">
                    Made with <i class="fa fa-heart"></i> in Toulouse, France
                </div>
            </div>
        </div>
    </div>
</footer>