
<nav class="navbar navbar-expand-lg fixed-top bg-white">
    <div class="container">
        <a class="navbar-brand p-3" href="/{{ page.lang }}">
            <img src="/images/logo.svg" width="80px" alt="TeamMood - Homepage">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="far fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item px-2">
                    <a class="nav-link" href="#benefits">Benefits</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item ps-2">
                    <a class="btn green-btn" href="https://app.teammood.com/signup">Start Your Free Trial</a>
                </li>
            </ul>
        </div>
    </div>
</nav>