
<!-- Facebook meta for sharing -->
<meta property="og:url" content="https://www.teammood.com/?utm_medium=share&utm_campaign=facebook_share&utm_source=facebook"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="Managers, do you (really) know how your team is doing?" />
<meta property="og:image" content="https://www.teammood.com/images/lp/teammood_at_office.jpg" />