<meta name="description" content="Managers, connaissez-vous (vraiment) l'humeur de votre équipe ? Avec TeamMood, suivez son bien-être, facilement !">

<meta name="keywords" content="niko-niko calendar, niko niko, nikoniko, niko-niko, mood, team, happiness, humeur, métrique, mood meter, mood tracker, mood marble, team well being, bien-être au travail">

<!-- Facebook meta for sharing -->
<meta property="og:url" content="https://www.teammood.com/?utm_medium=share&utm_campaign=facebook_share&utm_source=facebook"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="Managers, savez vous (vraiment) comment va votre équipe ?" />
<meta property="og:image" content="https://www.teammood.com/images/lp/teammood_at_office.jpg" />