<div class="front-header header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Simple pricing.</h1>
            </div>
        </div>
    </div>
</div>

<div ng-controller="PricingCtrl">
    <div class="homepage-currency">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-class="{active: currency.active}" ng-click="update(currency)" ng-repeat="currency in currencies">[[currency.label]]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="homepage-api pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="story standard-plan">
                        <h1 class="text-center">ESSENTIAL</h1>
                        <h2 class="text-center">[[price]] / user / month</h2>
                        <p class="light-grey text-center">After a 30 days trial period.</p>
                        <hr/>
                        <p>Core features:</p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Daily or Weekly Notifications <small><i class="fa fa-question-circle" data-toggle="popover" title="Notifications Frequency" data-content="Choose when notifications are sent: daily, several days a week or weekly." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Team Feedback <small><i class="fa fa-question-circle" data-toggle="popover" title="Your Team Voice" data-content="Get feedback from your teammates, and take action from it." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Anonymous <small><i class="fa fa-question-circle" data-toggle="popover" title="Strong Anonymity" data-content="Avoid survey bias using anonymity." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Multiple Teams <small><i class="fa fa-question-circle" data-toggle="popover" title="Designed For Large Organizations" data-content="From a small team of 10, to thousands of people." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Analytics <small><i class="fa fa-question-circle" data-toggle="popover" title="Advanced Analytics" data-content="Deep dive into your data and draw actionable intelligence." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Export Center And API <small><i class="fa fa-question-circle" data-toggle="popover" title="You Own Your Data" data-content="Explore your data with the tools you love." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Third Party Integrations <small><i class="fa fa-question-circle" data-toggle="popover" title="Company Friendly" data-content="Integrate with the tools you love, such as Slack or Tableau etc..." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Monthly or Yearly Billing <small><i class="fa fa-question-circle" data-toggle="popover" title="Yearly Subscription Available" data-content="We provide discounted yearly plans for larger teams." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="center"><a class="light-blue-btn btn-lg" href="/{{ page.lang }}/signup">START FOR FREE</a></p>
                        <p class="text-center"><small>No credit card required</small></p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="story enterprise-plan">
                        <h1 class="text-center">ENTERPRISE</h1>
                        <h2 class="text-center">Custom</h2>
                        <p class="light-grey text-center">Seamless Integration With Your Business.</p>
                        <hr/>
                        <p>Everything in the Essential plan, plus:</p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Custom Branding <small><i class="fa fa-question-circle" data-toggle="popover" title="Make It Yours" data-content="Customize the mood email with your content and logo." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Custom Reporting <small><i class="fa fa-question-circle" data-toggle="popover" title="Advances Reports" data-content="Not satisfied with the provided reports? We'll build your own." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Custom End User Policy <small><i class="fa fa-question-circle" data-toggle="popover" title="Strong Policy" data-content="Add your own policy or code of conduct." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Customs ACLs <small><i class="fa fa-question-circle" data-toggle="popover" title="Fine Grained Access Control" data-content="Set the right access-level to the right people." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Single Sign On <small><i class="fa fa-question-circle" data-toggle="popover" title="Not Another Password" data-content="SAML2 or Okta." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Dedicated Hosting <small><i class="fa fa-question-circle" data-toggle="popover" title="Strong Personal Data Policy" data-content="Increase your security by getting your own TeamMood server instance, in the location of your choice." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Premium Support <small><i class="fa fa-question-circle" data-toggle="popover" title="Never Alone" data-content="Blazing fast support." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Eased Procurement <small><i class="fa fa-question-circle" data-toggle="popover" title="Your Procurement Processes" data-content="We adapt to your procurement process  (due diligence, legal compliance, purchase orders...)." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="center"><a class="light-orange-btn btn-lg" href="mailto:sales@teammood.com?subject=Enterprise quote">CONTACT US</a></p>
                        <p class="text-center"><small>We'll get back to you quickly</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>

<script src="/js/app.js"></script>
<script src="/js/pricing.js"></script>