<div class="front-header header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Simple pricing.</h1>
            </div>
        </div>
    </div>
</div>

<div class="homepage-press">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">$ 1 / active user / month</h1>
                <p class="light-grey text-center">After a 30 days trial period.</p>
                <h3 class="light-grey text-center">We also provide yearly plans,<br>and custom ones for large companies: <a href="mailto:sales@teammood.com">contact us</a></h3>
            </div>
        </div>
    </div>
</div>

<div class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <a class="light-orange-btn btn-lg" href="/{{ page.lang }}/signup">Start the free 30-day trial period</a>
                <p><small>No credit card required</small></p>
            </div>
        </div>
    </div>
</div>