<section class="homepage-start">
    <h2>Démarrer un essai gratuit</h2>
    <p class="pt-1 pb-2 fs-5">Vous pouvez utiliser TeamMood gratuitement pendant 30 jours, c'est simple, rapide et sans engagement.</p>
    <div class="">
        <a class="green-btn btn-lg py-3 px-4 fw-bold me-0 me-md-2 mb-2 mb-md-0 d-inline-block rounded" href="https://app.teammood.com/signup">Je teste gratuitement</a>
        <a class="btn-lg py-3 px-4 fw-bold green-outline-btn d-inline-block rounded" href="https://calendly.com/ndeverge/30min/">Demander une démo</a>
    </div>
</section>