<section class="homepage-start">
    <h2>Start Your Free Trial</h2>
    <p class="pt-1 pb-2 fs-5">You can begin to use TeamMood in just couple minutes, it's easy and straightforward.</p>
    <div class="">
        <a class="green-btn btn-lg py-3 px-4 fw-bold me-0 me-md-2 mb-2 mb-md-0 d-inline-block rounded" href="https://app.teammood.com/signup">Get Started</a>
        <a class="btn-lg py-3 px-4 fw-bold green-outline-btn d-inline-block rounded" href="https://calendly.com/ndeverge/demo">Request a demo</a>
    </div>
</section>