
<!--<blockquote class="testimonial_2021">
    <p>{{ include.text }}</p>
    <figure class="pt-2 mb-0 d-flex">
        {% if include.img %}
        <img class="img-fluid rounded-circle w-25" src="/images/testimonials/{{ include.img }}" alt="">
        {% else %}
        <img class="img-fluid rounded-circle w-25" src="/images/testimonials/default/grey.png" alt="">
        {% endif %}
        <figcaption class="align-self-center ps-3">
            <strong class="fw-bold">{{ include.author }}</strong><br>
            &lt;!&ndash;                        <small>{{ include.company }}</small>&ndash;&gt;
        </figcaption>
    </figure>
</blockquote>-->

<blockquote class="testimonial_2021">
    <div class="my-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
    <p>{{ include.text }}</p>
    <p class="fw-bold m-0">- {{ include.author }}</p>
</blockquote>