
    <div class="container">
        <div class="row py-5 testimonial justify-content-center align-items-center">
            <div class="col-md-1 col-3">
                <img class="img-fluid rounded-circle" src="/images/testimonials/{{ include.img }}">
            </div>
            <div class="col-md-7">
                <blockquote>
                    <p class="mb-0">
                        <strong>{{ include.author }}</strong><br>
                        <small>{{ include.company }}</small>
                    </p>
                    <p>
                        {{ include.text }}
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
