---
title: Thank tou for downloading the Retrospective Outcomes Canvas
description:  Improve the improvement process by easily capturing the outcomes of your Retrospectives.
lang: en
permalink: '/en/retro-canvas/thank-you'
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="canvas-thanks text-center">
    <img src="/images/lp/retro-canvas-thanks-bg.jpg">
    <div class="canvas-thanks-bg"></div>
    <header class="version2021">
        <nav class="navbar navbar-expand-md justify-content-center">
            <a class="navbar-brand pt-4" href="/{{ page.lang }}">
                <img src="/images/logo.svg" width="100px" alt="TeamMood - Homepage">
            </a>
        </nav>
    </header>

    <main class="main-minimal container-fluid">
        <div class="canvas-thanks-content">
            <h1 class="py-4">
                Thank you!<br>
                Check your inbox (or your spams),<br>
                your Canvas is waiting for you.
            </h1>
            <div class="col-md-4 mx-auto pt-4 mt-4">
                <a class="btn green-btn btn-lg" href="https://www.teammood.com/en/">DISCOVER TEAMMOOD</a>
            </div>
        </div>
    </main>
</div>

<footer class="px-4 pb-4 text-center footer-minimal bg-lp-light">
    <div class="pt-4 pb-4">
        <p class="pt-4 fs-6">
            Copyright © {{ site.time | date: '%Y' }} ☺
            <i class="fa fa-smile-o"></i> TeamMood <span class="mx-1">•</span>
            Made with <i class="fas fa-heart"></i> in Toulouse, France
        </p>
    </div>
</footer>

{% include foot.html %}

</body>
</html>

