---
layout: default
lang: fr
permalink: '/fr/tarifs/'
---



{% include pricing_fr.html %}

{% include testimonial.html text="Grâce à TeamMood, nous avons pu prouver qu'une des réunions hebdomadaires que nous avions étaient vraiment un poids pour tous." author="Philippe R." img="philippe-r.jpg" company="AirFrance" %}



<div class="container pricing my-5 pb-5">
    <h2>Questions concernant la tarification.</h2>
    <h3>Qu'est-ce qu'un utilisateur actif ?</h3>
    <p class="text-justify">Nous ne comptabilisons que les utilisateurs actifs, à savoir ceux qui ont reçu au moins un email demandant leur humeur dans le mois. Vous avez la possibilité de désactiver des utilisateurs vous-même dans votre panneau d'administration. Ainsi, vous ne payez que ce que vous utilisez.</p>

    <h3>Est-ce que je peux ajouter ou retirer des utilisateurs à tout moment ?</h3>
    <p class="text-justify">Oui ! TeamMood est à la demande, et vous pouvez facilement ajouter ou désactiver des utilisateurs.</p>

    <h3>Je suis dans une grande entreprise, et la facturation au mois et variable n'est pas possible ?</h3>
    <p class="text-justify">Nous proposons aussi des tarifs packagés à l'année, avec des moyens de paiement divers.</p>

    <h3>J'ai d'autres questions.</h3>
    <p class="text-justify"><a href="mailto:sales@teammood.com">Contactez-nous</a>, nous serons heureux de vous répondre :-)</p>
</div>

