---
layout: default
lang: en
---


{% include pricing_en.html %}

{% include testimonial.html text="Thanks to TeamMood, we demonstrated that one of our weekly meeting was not providing any added value to anyone." author="Philippe R." img="philippe-r.jpg" company="AirFrance" %}



<div class="container my-5 pb-5">
    <h2>Questions on pricing.</h2>
    <h3>What's a user?</h3>
    <p class="text-justify">We only charge for active users, ie users that received at least an email asking for their mood during the month. You have the ability to deactivate users in your admin panel. You only pay as you go.</p>

    <h3>Can I add or remove users at any time?</h3>
    <p class="text-justify">Yes! TeamMood is pay-as-you-go, and you can easily add or remove users from your account with a couple of clicks.</p>

    <h3>I work in a large company, and it's hard to pay monthly with a variable cost?</h3>
    <p class="text-justify">We also provide yearly plans, with several payment options.</p>

    <h3>I have more questions.</h3>
    <p class="text-justify"><a href="mailto:sales@teammood.com">Contact us</a>, we'll be happy to help :-)</p>
</div>
