---
layout: default
lang: en
title: Improve your leadership with streamlined analytics
description: The problem with generic tools like whiteboards is the lack of analytics. TeamMood is opinionated to give you straightforward insights. Get the right analytics, zero configuration required.
---

<div class="container version2021">
    <section class="front-header my-4 pb-4 pt-md-5">
        <h1>Improve your leadership with streamlined analytics</h1>
        <p class="h1-subtitle">The problem with generic tools like whiteboards is the lack of analytics. TeamMood is opinionated to give you straightforward insights. Get the right analytics, zero configuration required.</p>
        <div class="col-md-9 mx-auto text-center">
            <figure class="text-center border px-5 py-3">
                <figcaption class="text-center fw-bold fs-6">Mood Distribution By Day</figcaption>
                <img class="img-fluid" src="/images/homepage/mood_distribution.png" alt="TeamMood - analytics" loading="lazy">
            </figure>
        </div>
    </section>

    <section class="py-4">
        <h2 class="mb-2">Analytics unlocks wellness</h2>
        <div class="d-md-flex">
            <article class="px-2">
                <img class="img-fluid icon-image mb-2" src="/images/icon/proactive.svg" alt="">
                <h3>Proactive team leadership</h3>
                <p>Stop guessing to solve conflicts. With our analytics, you get the right insights to reduce the number of problems your team has.</p>
            </article>
            <article class="px-2">
                <img class="img-fluid icon-image mb-2" src="/images/icon/empowerment.svg" alt="">
                <h3>Team empowerment</h3>
                <p>TeamMood gives you all the tools to lead efficiently your team and empower them to express themselves in a safe environment.</p>
            </article>
            <article class="px-2">
                <img class="img-fluid icon-image mb-2" src="/images/icon/meeting.svg" alt="">
                <h3>Meeting facilitation</h3>
                <p>With daily feedback, you will be able to stop never-ending meetings and resolves issues as they arise before they derail your meetings.</p>
            </article>
        </div>
    </section>

    <section class="row d-md-flex my-4 py-4 align-items-center">
        <h2 class="mb-2">Feedback history at a glance</h2>
        <div class="col-md-6">
            <img class="img-fluid border p-3" src="/images/analytics/feedback-history.png" alt="TeamMood - analytics" loading="lazy">
        </div>
        <div class="col-md-6">
            <p>You need a clean and clear overview to quickly see the mood of your team. That's why we made a special view based on niko-niko calendar and Agile retrospective practices so you can track moods in just one moment and see how wellness improves over time.</p>
            <p>You will be able to see which days were the best and which were the worst, then discuss with the team why and improve things.</p>
        </div>
    </section>

    <section class="row d-md-flex my-4 py-4 align-items-center flex-md-row-reverse">
        <h2 class="mb-2">Visualize data from every angle</h2>
        <div class="col-md-6">
            <img class="img-fluid border p-3" src="/images/analytics/analytics-comments.png" alt="TeamMood - Analytics : mood average over time, milestone days, wordcloud" loading="lazy">
        </div>
        <div class="col-md-6">
            <p>TeamMood comes with a reporting dashboard that covers all your needs to find insights quickly.</p>
            <ul>
                <li><strong>Mood average variation:</strong> see how the average mood changes over time.</li>
                <li><strong>Best and worst day:</strong> always know which was the day with the best moods and the one with the worst moods.</li>
                <li><strong>Wordcloud:</strong> find out what are the most used words in your teammates' comments.</li>
                <li><strong>Usage:</strong> discover how much members use TeamMood.</li>
            </ul>
        </div>
    </section>

    <section class="row d-md-flex my-4 py-4 align-items-center">
        <h2 class="mb-2">Reporting at every level of your organizational structure</h2>
        <div class="col-md-6">
            <img class="img-fluid border p-3" src="/images/analytics/segmentation-highlight.png" alt="TeamMood - Analytics : segment mood data" loading="lazy">
        </div>
        <div class="col-md-6">
            <p>See trends at a high level, then dive deep with segmentation by team, department, location, or really anything you need.</p>
            <p>Leadership gets regular check-ins of the mood from collaborators, and reports are made in just a couple of clicks.</p>
        </div>
    </section>

    <section class="row d-md-flex my-4 py-4 align-items-center">
        <h2>Our customers tell it best</h2>

        <div class="homepage-grid mt-2">
            <article class="pb-2">
                {% include testimonial_2021.html
                text="Some teams decided to check average mood so that management will still react and still try to make things better - even in reality they would check good and better."
                author="Jakub K.." %}
            </article>
            <article class="pb-2">
                {% include testimonial_2021.html
                text="It’s been great to get a measure of the overall feeling in the team on a day to day basis. Especially as our team are all homeworkers and we don’t have regular opportunities to meet face to face."
                author="James H." %}
            </article>
            <article class="pb-2">
                {% include testimonial_2021.html
                text="It helps me to understand my team members’ feelings because we are working remotely and don’t communicate as much as in the office."
                author="Yongxin H." %}
            </article>
        </div>

        <p class="text-center mt-2">
            <b>More reviews are available on</b>
            <br>
            <a href="https://www.capterra.com/reviews/164177/TeamMood?utm_source=vendor&utm_medium=badge&utm_campaign=capterra_reviews_badge"> <img id="capterra" border="0" src="https://assets.capterra.com/badge/3708c45ffe7329eb51e1a7cefc56be63.svg?v=2114707&p=164177" alt="TeamMood reviews on Capterra" /> </a>
        </p>
    </section>

    {% include start_trial.html %}
</div>