---
layout: default
lang: fr
---

<section class="front-header homepage-header">
    <div class="container">
        <div class="row align-items-center my-4 pb-4 pt-md-5">
            <div class="col-md-12 text-start">
                <h1>Construisez une grande synergie d'équipe avec une gestion proactive du bien-être</h1>
                <p class="subtitle pb-3">Obtenez les humeurs quotidiennes des membres de vos équipes de manière anonyme en moins de 2 minutes.<br>
                    Suivez ensuite le ressenti de chaque équipe grâce à des analyses puissantes et résolvez les conflits avant qu'ils ne deviennent une crise.</p>
                <div class="">
                    <img class="border p-2" src="/images/main-{{page.lang}}.png" alt="TeamMood - calendrier niko-niko" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container py-5">
    <h2 class="text-black-50 text-center pb-2">De startups d'une dizaine de personnes aux grandes entreprises de plusieurs centaines de salariés, ils nous font confiance.</h2>
    <div class="container">{% include logos_1line.html %}</div>
</div>

<div class="container teammood-features">
    <div class="row gx-5 d-md-flex flex-md-row-reverse my-5 py-4 align-items-center">
        <div class="col-md-7">
            <h2>Simple comme bonjour.</h2>
            <p>Les membres de l'équipe reçoivent un email chaque jour, leur demandant leur humeur du jour.</p>
            <p>Un seul clic et c'est terminé ! Pas besoin de se connecter pour indiquer son bien-être.</p>
            <p>Ça ne prend pas plus de 5 secondes par jour.</p>
        </div>
        <div class="col-md-5 text-center border p-3 pb-4">
            <img class="img-fluid" src="/images/mail-{{page.lang}}.png">
        </div>
    </div>

    <div class="row gx-5 align-items-center my-5 py-4">
        <div class="col-md-7">
            <h2>Anonyme.</h2>
            <p>Pas de suivi individuel, mais un suivi du bien être au travail au niveau de l'équipe entière. Les résultats du questionnaire de satisfaction sont visibles par l'ensemble des membres de l'équipe, ils ne sont pas réservés aux seuls managers d'équipes.</p>
            <p>L'anonymat permet également aux personnes de ne pas se sentir jugées et d'être plus sincères concernant leur humeur.</p>
        </div>
        <figure class="col-md-5 text-center border p-2 pt-4">
            <figcaption class="text-center fw-bold fs-6">Distribution des Humeurs par Jour</figcaption>
            <img class="img-fluid" src="/images/icons-{{page.lang}}.png" alt="TeamMood - distribution des humeurs" loading="lazy">
        </figure>
    </div>

    <div class="row gx-5 d-md-flex flex-md-row-reverse align-items-center my-5 pt-4 pb-5">
        <div class="col-md-7">
            <h2>Issu de la méthode Agile.</h2>
            <p>Inspiré des <a href="/en/agile-retrospective-tools-ideas/">pratique Agile</a> et des <a href="/en/niko-niko/">calendriers niko-niko</a>.</p>
            <p>À la fin de la journée, chaque membre de l'équipe signifie son bien-être au travail en indiquant s'il a le sentiment d'avoir passé une bonne ou une mauvaise journée. C'est un outil pour le <a href="/en/agile-project-management/">manager</a> et l'équipe afin de leurs permettre de s'améliorer continuellement.</p>
        </div>
        <div class="col-md-5 text-center border p-2 " style="background-color: #f9f9f9">
            <img class="img-fluid" src="/images/mood-fr.png">
        </div>
    </div>
</div>



{% include testimonial.html text="TeamMood permet de voir si les membres de l'équipe se sentent bien ou pas, et c'est une information assez difficile à avoir en temps normal." author="Luc D." img="luc_d.jpg" company="Lyra  Network" %}
<div class="container mb-5 pb-5  text-center">
    <a class="green-btn btn-lg py-3 px-4" href="https://app.teammood.com/signup">Essayez Gratuitement 30 Jours</a>
</div>



