<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="application-front visitors landing-page">

    {% if page.facebook_tag %}
      <script>
          fbq('track', 'ViewContent', {
              content_name: '{{ page.facebook_tag }}'
          });
      </script>
    {% endif %}


    {% include lp_header.html %}

    <div class="container mt-5 pt-5">
      <div class="front-header p-5">
        <h1>{{ page.headline }}</h1>
        <div class="subtitle pt-3 px-5">{{ page.tagline }}</div>
      </div>
    </div>

    <div class="content-page">
      <div class="container text-center pb-4">
            <a class="green-btn btn-lg py-3 px-4" href="https://app.teammood.com/signup">Start Your Free Trial</a>
      </div>
    </div>

    <div class="lp-bg-image my-5">
      <img src="/images/lp/teammood_at_office.jpg" alt="teammood at office">
    </div>

    <div class="content-page center lp-text">
            {{ page.text }}
    </div>

    {% include testimonial.html text="It’s not rocket science, happy people get better results." author="Paul R." img="paul_r.jpg" company="Westpac, New Zealand" %}

    <a id="benefits" class="pt-5"></a>
    {% include lp_benefits.html %}

    <div class="homepage-press">
      <div class="container my-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="light-grey text-center">From ten people startups, to large companies with several hundreds of people, you're in good company.</h2>
          </div>
        </div>
      </div>
      <div class="container">
        {% include logos_2x4.html %}
      </div>
    </div>


    <div class="content-page">
        <div class="container my-5 text-center">
              <a class="green-btn btn-lg py-3 px-4" href="https://app.teammood.com/signup">Get Started In 3 Minutes</a>
        </div>
    </div>

    <a id="pricing" class="pt-5"></a>
    {% include pricing_en.html %}

    {% include lp_footer.html %}


  </body>

</html>
