<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="application-front visitors landing-page" style="padding-top: 80px;">

  {% if page.facebook_tag %}
    <script>
        fbq('track', 'ViewContent', {
            content_name: '{{ page.facebook_tag }}'
        });
    </script>
  {% endif %}


    {% include lp_header.html %}

    <div class="container">

      <div class="front-header">
        <h1>{{ page.headline }}</h1>
        <div class="subtitle">{{ page.tagline }}</div>
      </div>
    </div>

    <div class="content-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12 center">
            <a class="light-orange-btn btn-lg" href="https://app.teammood.com/signup">Start Your Free Trial</a>
          </div>
        </div>
      </div>
    </div>

    <div class="lp-bg-image">
      <img src="/images/lp/teammood_at_office.jpg" alt="teammood at office">
    </div>

    <div class="content-page center lp-text">
            {{ page.text }}
    </div>

    <a id="benefits"></a>

    {% include testimonial.html text="It’s not rocket science, happy people get better results." author="Paul R." img="paul_r.jpg" company="Westpac, New Zealand" %}

    {% include lp_benefits.html %}

    <div class="homepage-press">
      <div class="container">
        <div class="row" style="padding: 50px 0;">
          <div class="col-md-12">
            <h2 class="light-grey text-center">From ten people startups, to large companies with several hundreds of people, you're in good company.</h2>
          </div>
        </div>
      </div>
      <div class="container">
        {% include logos_2x4.html %}
      </div>
    </div>


  <div class="content-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12 center">
            <a class="light-orange-btn btn-lg" href="https://app.teammood.com/signup">Get Started In 3 Minutes</a>
          </div>
        </div>
      </div>
    </div>

    <a id="pricing"></a>

    {% include pricing_en.html %}

    {% include lp_footer.html %}


  </body>

</html>
