<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TeamMood - For Agile Teams</title>
    
    <meta name="description" content="Managers, do you (really) know how your team is doing? With TeamMood, track the well-being of your team, easily.">

<meta name="keywords" content="niko-niko calendar, niko niko, nikoniko, niko-niko, mood, team, happiness, humeur, métrique, mood meter, mood tracker, mood marble, team well being">

<!-- Facebook meta for sharing -->
<meta property="og:url" content="https://www.teammood.com/?utm_medium=share&utm_campaign=facebook_share&utm_source=facebook"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="TeamMood - For Agile Teams" />
<meta property="og:description" content="Managers, do you (really) know how your team is doing?" />
<meta property="og:image" content="https://www.teammood.com/images/lp/teammood_at_office.jpg" />
    
    <link rel="shortcut icon" href="/images/logo-128px.png">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
    crossorigin="anonymous">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/main.css ">

    <link rel="canonical" href="https://www.teammood.com/en/continuous-improvement/">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N7JRV8W');</script>
    <!-- End Google Tag Manager -->
</head>


  <body class="application-front visitors landing-page" style="padding-top: 80px;">

  
    <script>
        fbq('track', 'ViewContent', {
            content_name: 'Landing-Page-Continuous-Improvement'
        });
    </script>
  


    <nav class="navbar navbar-fixed-top" id="navigation" style="background-color: #FFF; margin-top:0px; padding-top: 20px">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand orange logo-md"><img src="/images/logo-140px.png" width="80px"></span>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="grey navbar-right">
                <li class="nav-cta-link">
                    <a class="light-orange-btn" href="https://app.teammood.com/signup">Start Your Free Trial</a>
                </li>
                <li class="nav-link">
                    <a href="#pricing">Pricing</a>
                </li>
                <li class="nav-link">
                    <a href="#benefits">Benefits</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


    <div class="container">

      <div class="front-header">
        <h1>Continuous Improvement Made Easy.</h1>
        <div class="subtitle">TeamMood helps Scrum Masters to have a continuous feedback from the team.</div>
      </div>
    </div>

    <div class="content-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12 center">
            <a class="light-orange-btn btn-lg" href="https://app.teammood.com/signup">Start Your Free Trial</a>
          </div>
        </div>
      </div>
    </div>

    <div class="lp-bg-image">
      <img src="/images/lp/teammood_at_office.jpg" alt="teammood at office">
    </div>

    <div class="content-page center lp-text">
            
    </div>

    <a id="benefits"></a>

    <div class="content-page">
    <div class="container">

        <div class="row testimonial equal ">
            <div class="col-md-1 col-md-offset-2">
                <img class="img-circle img-responsive" src="/images/testimonials/paul_r.jpg">
            </div>
            <div class="col-md-7">
                <blockquote>
                    <p>
                        <strong>Paul R.</strong><br>
                        <small>Westpac, New Zealand</small>
                    </p>
                    <p>
                        It’s not rocket science, happy people get better results.
                    </p>
                </blockquote>
            </div>
        </div>

    </div>
</div>

    <div class="homepage-api">
    <div class="container" style="padding: 30px 0 100px 0;">
        <h2 class="text-center" style="padding-bottom: 30px;">How TeamMood can help you</h2>
        <div class="row benefits">
            <div class="col-sm-4 col-md-4">
                <p class="text-center"><i class="fa fa-comments fa-4x grey"></i></p>
                <h3>Open up conversations</h3>
                <p class="text-justify">Transparency is key. Everyone in the team can see the data, and discuss it. As a manager, you take part to these conversations to better understand what is going on.</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p class="text-center"><i class="fa fa-bullhorn fa-4x grey"></i></p>
                <h3>Uncover hidden issues</h3>
                <p class="text-justify">Thanks to anonymity, get an honest feedback from your teammates. It can be easier for someone to say something through TeamMood instead of telling it in person.</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p class="text-center"><i class="fa fa-bolt fa-4x grey"></i></p>
                <h3>Get a clear picture of which actions need to be taken</h3>
                <p class="text-justify">Thanks to your daily survey, quickly uncover issues and address them before the situation becomes out of control.</p>
            </div>
        </div>
    </div>
</div>

<div class="visitors homepage">
    <div class="homepage-press" style="padding: 50px 0 100px 0;">
        <div class="container">

            <h2 class="text-center">TeamMood at a glance</h2>

     <!--       <div class="row">
                <div class="col-sm-4 col-md-4">
                    <img class="img-responsive" src="/images/nikoniko.png" style="margin:auto; height: 160px; padding:10px">
                </div>
                <div class="col-sm-4 col-md-4">
                    <img class="img-responsive" src="/images/analytics.png" style="margin:auto; height: 160px; padding:10px">
                </div>
            </div>
-->
            <div class="row benefits-grid benefits-grid-1">
                <div class="col-md-4">
                    <div>
                        <p><i class="fas fa-mask fa-2x"></i></p>
                        <h4>Anonymous</h4>
                        <p class="text-justify">Do not track individuals, but follow the mood at team level. All metrics are available to everyone in the team, not only to managers.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p><i class="fas fa-thumbs-up fa-2x"></i></p>
                        <h4>Easy As Pie</h4>
                        <p class="text-justify">Team members will receive a daily email, asking for their <a href="/en/agile-retrospective-tools-ideas/">mood of the day</a>. One click and you're done! No need to login, no more than 5 seconds per day.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p><i class="fas fa-redo fa-2x"></i></p>
                        <h4>Agile DNA</h4>
                        <p class="text-justify">Based on the <a href="https://blog.teammood.com/2018/07/24/evaluating-your-teams-health-with-the-niko-niko-calendar.html">niko-niko practice</a>, each team member tells if she/he is having a good or a bad day. Those insights help your team for continuous improvement.</p>
                    </div>
                </div>
            </div>

            <div class="row benefits-grid benefits-grid-2">
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-network-wired fa-2x"></i></p>
                        <h4>Connected</h4>
                        <p class="text-justify">Our seamless integrations with the tools you already use make participating even simpler.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-shield-alt fa-2x"></i></p>
                        <h4>Secured</h4>
                        <p class="text-justify">Data are encrypted all the way. TeamMood is enterprise ready with SAML based SSO.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-users fa-2x"></i></p>
                        <h4>For Remote Teams</h4>
                        <p class="text-justify">Your teammates are spread all around the world? We manage timezones, so people get notified at the right time.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <p><i class="fas fa-chart-bar fa-2x"></i></p>
                        <h4>Analytics</h4>
                        <p class="text-justify">Quickly get a glimpse on what's going on. Wanna know if things are better or worse? Just <a href="https://blog.teammood.com/2019/03/29/why-doing-team-health-checks.html">check the mood's</a> average variation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="homepage-press">
      <div class="container">
        <div class="row" style="padding: 50px 0;">
          <div class="col-md-12">
            <h2 class="light-grey text-center">From ten people startups, to large companies with several hundreds of people, you're in good company.</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
    <div class="col-sm-2 col-sm-offset-4">
        <img alt="Decathlon" title="Decathlon" class="img-responsive thumbnail logos" src="//logo.clearbit.com/decathlon.fr?greyscale=true">
    </div>
    <div class="col-sm-2">
        <img alt="SNCF" title="SNCF" class="img-responsive thumbnail logos" src="//logo.clearbit.com/sncf.com?greyscale=true">
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-sm-offset-3">
        <img alt="TUI Group" title="TUI Group" class="img-responsive thumbnail logos" src="//logo.clearbit.com/tui.com?greyscale=true">
    </div>
    <div class="col-sm-2">
        <img alt="IPSEN" ttle="IPSEN" class="img-responsive thumbnail logos" src="//logo.clearbit.com/ipsen.com?greyscale=true">
    </div>
    <div class="col-sm-2">
        <img alt="RS Components" title="RS Components" class="img-responsive thumbnail logos" src="//logo.clearbit.com/rs-components.com?greyscale=true">
    </div>
</div>
      </div>
    </div>


  <div class="content-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12 center">
            <a class="light-orange-btn btn-lg" href="https://app.teammood.com/signup">Get Started In 3 Minutes</a>
          </div>
        </div>
      </div>
    </div>

    <a id="pricing"></a>

    <div class="front-header header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Simple pricing.</h1>
            </div>
        </div>
    </div>
</div>

<div ng-controller="PricingCtrl">
    <div class="homepage-currency">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-class="{active: currency.active}" ng-click="update(currency)" ng-repeat="currency in currencies">[[currency.label]]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="homepage-api pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="story standard-plan">
                        <h1 class="text-center">ESSENTIAL</h1>
                        <h2 class="text-center">[[price]] / user / month</h2>
                        <p class="light-grey text-center">After a 30 days trial period.</p>
                        <hr/>
                        <p>Core features:</p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Daily or Weekly Notifications <small><i class="fa fa-question-circle" data-toggle="popover" title="Notifications Frequency" data-content="Choose when notifications are sent: daily, several days a week or weekly." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Team Feedback <small><i class="fa fa-question-circle" data-toggle="popover" title="Your Team Voice" data-content="Get feedback from your teammates, and take action from it." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Anonymous <small><i class="fa fa-question-circle" data-toggle="popover" title="Strong Anonymity" data-content="Avoid survey bias using anonymity." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Multiple Teams <small><i class="fa fa-question-circle" data-toggle="popover" title="Designed For Large Organizations" data-content="From a small team of 10, to thousands of people." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Analytics <small><i class="fa fa-question-circle" data-toggle="popover" title="Advanced Analytics" data-content="Deep dive into your data and draw actionable intelligence." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Export Center And API <small><i class="fa fa-question-circle" data-toggle="popover" title="You Own Your Data" data-content="Explore your data with the tools you love." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Third Party Integrations <small><i class="fa fa-question-circle" data-toggle="popover" title="Company Friendly" data-content="Integrate with the tools you love, such as Slack or Tableau etc..." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-check"></i>Monthly or Yearly Billing <small><i class="fa fa-question-circle" data-toggle="popover" title="Yearly Subscription Available" data-content="We provide discounted yearly plans for larger teams." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="center"><a class="light-blue-btn btn-lg" href="https://app.teammood.com/signup">START FOR FREE</a></p>
                        <p class="text-center"><small>No credit card required</small></p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="story enterprise-plan">
                        <h1 class="text-center">ENTERPRISE</h1>
                        <h2 class="text-center">Custom</h2>
                        <p class="light-grey text-center">Seamless Integration With Your Business.</p>
                        <hr/>
                        <p>Everything in the Essential plan, plus:</p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Custom Branding <small><i class="fa fa-question-circle" data-toggle="popover" title="Make It Yours" data-content="Customize the mood email with your content and logo." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Custom Reporting <small><i class="fa fa-question-circle" data-toggle="popover" title="Advanced Reports" data-content="Not satisfied with the provided reports? We'll build your own." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Custom End User Policy <small><i class="fa fa-question-circle" data-toggle="popover" title="Strong Policy" data-content="Use your own policy or code of conduct." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Customs ACLs <small><i class="fa fa-question-circle" data-toggle="popover" title="Fine Grained Access Control" data-content="Set the right access-level to the right people." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Single Sign On <small><i class="fa fa-question-circle" data-toggle="popover" title="Not Another Password" data-content="SAML2 or Okta." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Dedicated Hosting <small><i class="fa fa-question-circle" data-toggle="popover" title="Strong Personal Data Policy" data-content="Increase your security by getting your own TeamMood server instance, in the location of your choice." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Premium Support <small><i class="fa fa-question-circle" data-toggle="popover" title="Never Alone" data-content="Blazing fast support." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="pricing-feature"><i class="fa fa-plus"></i>Eased Procurement <small><i class="fa fa-question-circle" data-toggle="popover" title="Your Procurement Processes" data-content="We adapt to your procurement process  (legal compliance, technical and security review, purchase orders...)." data-trigger="hover" data-placement="top"></i></small></p>
                        <p class="center"><a class="light-orange-btn btn-lg" href="mailto:sales@teammood.com?subject=Enterprise quote">CONTACT US</a></p>
                        <p class="text-center"><small>We'll get back to you quickly</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>

<script src="/js/app.js"></script>
<script src="/js/pricing.js"></script>

    <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="legal-mentions">
                    <span>
                        Copyright 2021
                    </span>
                    <span class="separator">•</span>
                    <span>
                        <a href="/en/terms-of-service">Terms</a>
                    </span>
                    <span class="separator">•</span>
                    <span>
                        <a href="/en/privacy-policy">Privacy Policy</a>
                    </span>
                    <span class="separator">•</span>
                    <span>
                        <a href="https://help.teammood.com/en/articles/2010813-how-teammood-complies-with-gdpr">GDPR</a>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
                <div class="phones-footer">
                    Made with <i class="fas fa-heart"></i> in Toulouse, France
                </div>
            </div>
        </div>
    </div>
</footer>


  </body>

</html>
