@(implicit lang: play.api.i18n.Lang) 

@main {
	<section id="signup-sect"> 
	    <p>@Html(Messages("home.staytuned")).</p> 
	    <div class="flex-container">
	        <form class='fancy-form' action="@routes.Application.signup()" method="POST" target="_self">
	            <div class="controls controls-row hide-me">
	              <input  id="input-email" class="span5" type="email" name="input-email" value="@Messages("home.emailsample")" placeholder="@Messages("home.emailsample")">
	              <button id="submit-email" class="span2 btn btn-fancy" type="submit">@Messages("home.signup")</button>
	            </div>                        
	            <div id="resp" class="center-child"></div> <!-- Response message -->
	        </form>
	        <div class="well" id="error"></div> <!-- Error message -->
	        <div id="share"> <!-- Social -->
	            <ul class="icons">
	                <li class="share-button">
	                    <a href="http://twitter.com/teammood"><i class="icon-twitter-sign"></i></a></li>
	                <li class="share-button">
	                    <a href="http://www.facebook.com/TeamMood"><i class="icon-facebook-sign"></i></a></li>
	                <li class="share-button">
	                    <a href="https://plus.google.com/100206065800219832935" rel="publisher"><i class="icon-google-plus-sign"></i></a></li>
	                <li class="share-button">
	                    <a href="http://blog.teammood.com" rel="publisher"><i class="icon-book"></i></a></li>
	            </ul>                        
	            <a class='muted pull-right' href="mailto:hello@@teammood.com">hello@@teammood.com</a>
	        </div>
	    </div>
	</section>
	@defining(lang.language) { language =>
	<section id="info" class="row">
	    <div class="span3">
	        <h3>@Messages("home.agile.title")</h3>
	        <p>@Messages("home.agile.1") <a href="http://guide.agilealliance.org/guide/nikoniko.html" target="_blank">@Messages("home.agile.2") <i class="icon-external-link"></i></a>.</p>
	        <p>@Html(Messages("home.agile.3"))</p>
	   </div>
	    <div class="span3">
	        <h3>@Messages("home.supereasy.title")</h3>
	        <p>@Html(Messages("home.supereasy.1"))</p>
	        <p>@Html(Messages("home.supereasy.2"))</p>
	        @if(language == "fr"){
	        <p><img src="@routes.Assets.at("images/mail-fr.png")" class="img-polaroid img-rounded"></p>
	        }else{
	        <p><img src="@routes.Assets.at("images/mail-en.png")" class="img-polaroid img-rounded"></p>
	        }
	    </div>
	    <div class="span3">
	        <h3>@Messages("home.anonymous.title")</h3>
	        <p>@Html(Messages("home.anonymous.1"))</p>
	        <p>@Html(Messages("home.anonymous.2"))</p>
	   </div>
	    <div class="span3">
	        <h3>@Messages("home.transparency.title")</h3>
	        <p>@Html(Messages("home.transparency.1"))</p>
	        <p>@Html(Messages("home.transparency.2"))</p>
	        @if(language == "fr"){
	        <p><img src="@routes.Assets.at("images/icons-fr.png")" class="img-polaroid img-rounded"></p>
	        }else{
	        <p><img src="@routes.Assets.at("images/icons-en.png")" class="img-polaroid img-rounded"></p>
	        }
	    </div>
	</section>
	}
}