@(implicit lang: play.api.i18n.Lang) 

@main {

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<section id="signup-sect"> 
		<h3>@Html(Messages("thankyou.thanks")) !</h3>
		<p>@Html(Messages("thankyou.keepupdated")).</p> 
		<p>@Html(Messages("thankyou.feedback")) <a href="mailto:hello@@teammood.com">@Messages("thankyou.contact")</a>.</p>
	    <p>@Html(Messages("thankyou.share")) !
	    </p>
		<ul class="icons">
	   		<li class="like-button">
			    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://teammood.com" data-via="teammood">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</li>
			<li class="like-button">
				<div class="g-plusone" data-href="http://teammood.com" data-size="medium"></div>
				
				<!-- Place this tag after the last +1 button tag. -->
				<script type="text/javascript">
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</li>
			<li class="like-button">
				<div class="fb-like" data-href="http://teammood.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
			</li>
		</ul>
	</section>
	
	@if(play.Play.isProd){	
	<!-- Google Code for Stay tuned Conversion Page -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 994965901;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "46m5CNv3tgUQjfO32gM";
	var google_conversion_value = 0;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/994965901/?value=0&amp;label=46m5CNv3tgUQjfO32gM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
	}
}