---
title: TeamMood - For Agile Teams
layout: landing_page
lang: en
---
<div class="container">

    <div class="front-header">
        <h1>Continuous Improvement Made Easy.</h1>
        <div class="subtitle">TeamMood helps Scrum Masters to have a continuous feedback from the team.</div>
    </div>
</div>

<div class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <a class="light-orange-btn btn-lg" href="/en/signup">Start Your Free Trial</a>
            </div>
        </div>
    </div>
</div>

<div class="lp-bg-image"></div>

<a name="benefits"></a>

{% include testimonial.html text="It’s not rocket science, happy people get better results." author="Paul R." img="paul_r.jpg" company="Westpac, New Zealand" %}

<div class="homepage-api">
        <div class="container">
            <h2 class="text-center" style="padding-bottom: 30px;">How TeamMood improves the workplace</h2>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <p class="text-center"><i class="fa fa-comments fa-4x grey"></i></p>
                    <h3>Open up conversations</h3>
                    <p>Transparency is key. Everyone in the team sees the data, and talk about it. As a manager, take part to those conversations to better understand what is going on.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <p class="text-center"><i class="fa fa-bullhorn fa-4x grey"></i></p>
                    <h3>Uncover hidden issues</h3>
                    <p>Thanks to anonymity, get an honest feedback from your teammates. It's easier for someone to say something through TeamMood instead of going to tell in person.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <p class="text-center"><i class="fa fa-bolt fa-4x grey"></i></p>
                    <h3>Get a clear picture of what actions need to be taken</h3>
                    <p>Thanks to the daily survey, discover an issue quickly, and address it without waiting, before the issue becomes out of control.</p>
                </div>
            </div>
        </div>
</div>

<div class="visitors homepage">
    <div class="homepage-press" style="padding: 50px 0 100px 0;">
        <div class="container">
            <h2 class="text-center">TeamMood at a glance</h2>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <img class="img-responsive" src="/images/nikoniko.png" style="margin:auto; height: 160px; padding:10px">
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>Easy As Pie</h4>
                    <p>Team members will receive a daily email, asking for their mood of the day. One click and you're done! No need to login, no more than 5 seconds per day.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <img class="img-responsive" src="/images/analytics.png" style="margin:auto; height: 160px; padding:10px">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <h4>Anonymous</h4>
                    <p>Do not track individuals, but follow the mood at the team level. The metrics are available to everyone on the team, not only to the managers.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>Analytics</h4>
                    <p>Quickly get a glimpse on what's going on. Wanna know if things are better or worse? Just check the mood's average variation.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>Connected</h4>
                    <p>Our seamless integrations with the tools you already use make participating even simpler.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <h4>Agile DNA</h4>
                    <p>Based on the niko-niko practice, each team member tells if she/he is having a good or a bad day. Those insights help the team for continuous improvement.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>For Remote Teams</h4>
                    <p>Teammates spread all around the world? We manage timezones, so people get notified at the right time.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>Secured</h4>
                    <p>Data are encrypted everywhere. TeamMood is enterprise ready with SAML based SSO.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="homepage-press">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="light-grey text-center">From ten people startups, to large companies with several hundreds of people, you're in good company.</h2>
                {% include logos_2x4.html %}
            </div>
        </div>
    </div>
</div>


<div class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <a class="light-orange-btn btn-lg" href="/en/signup">Get Started In 3 Minutes</a>
            </div>
        </div>
    </div>
</div>

<a name="pricing"></a>

<div class="container jumbotron">

    <h2>Pricing - TODO</h2>

</div>



